# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/log/*.log
/tmp

*.rbc
capybara-*.html
.rspec

# heroku ssh dir
/.ssh
/.ssh/*

/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# config/initializers/secret_token.rb
# config/secrets.yml
secrets

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# OS files
.DS_Store

# Redis db dumps
dump.rdb

# RBP outputs
rails_best_practices_output.html

# generated sitemaps
/public/sitemaps/*

# DB locks
.lock-*
tags

# development only files
.env
Procfile.development

# staging only files
.htaccess
.htpasswd
