// ---------------------------------------------------------------
//
//  Mixins and SCSS functions
//
// ---------------------------------------------------------------

@mixin input-placeholder($color, $font-weight, $font-size) {
  &.placeholder {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    font-style: italic;
  }

  &::-moz-placeholder {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    font-style: italic;
  }

  &::-webkit-input-placeholder {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    font-style: italic;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    font-style: italic;
  }
}

@mixin clearfix {
  zoom:1;

  &:before, &:after {
    display: block;
    overflow: hidden;
    height: 0;
    content: "";
  }

  &:after {
    clear: both;
  }
}

@mixin clarat_rounding_start {
  border-top-left-radius: $border_radius;
}
