// ---------------------------------------------------------------
//
//  Variables
//
// ---------------------------------------------------------------


// Colors

$brand_yellow: #F4B528;
$brand_green: #8CBD86;
$brand_brown: #41311A;
$brand_beige: #f6eedc;
$brand_white: #FFF;
$brand_orange: #F78300;
$brand_blue: #87A6AE;
$brand-grey: #C3BFB4;
$brand-violet: #a586bb;

$font_color: $brand_brown;
$font_color_highlight: #F22222;


// Geometry

$border_radius: 10px;

// Sizes
$base_font_size: 16px;
