= simple_form_for search_form, url: offers_path, # namespace: 'nav',
                               html: { method: :get, novalidate: false } do |f|
  = f.input :query, label: t('.query_label'),
                    required: false,
                    input_html: { \
                      placeholder: t(".query_placeholder.#{labels}"),
                      spellcheck: false,
                      autocomplete: 'off',
                      autofocus: true,
                      class: 'input-xlg typeahead' }
  = f.input :search_location, label: t('.loc_label'),
                              input_html: { \
                                value: geoloc_to_s,
                                class: 'input-xlg JS-Geolocation__display',
                                placeholder: t(".loc_placeholder.#{labels}"),
                                oninvalid: custom_validity_js('fill_field'),
                                onchange: custom_validity_reset_js,
                                required: true }
  = f.input :generated_geolocation, as: :hidden,
                                    input_html: { \
                                      class: 'JS-Geolocation__input',
                                      value: default_geolocation }
  = f.input :category, as: :hidden
  button.main-search__submit = t '.button'
