// ---------------------------------------------------------------
//
//  Common styles in aside and containers
//
// ---------------------------------------------------------------

.aside-standard__headline {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 25px;
	margin-top: 0;
}

.aside-standard__container {
	margin-bottom: 50px;
}