// ---------------------------------------------------------------
//
//  Common styles in aside and containers
//
// ---------------------------------------------------------------
.aside-standard {
  position: absolute;
  max-width: 345px;
  right: 0;
  top: 70px;
  transition: top 0.1s;
}

.aside-standard__headline {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 0;
  word-break: break-all;
}

.aside-standard__container {
  display: none;
  margin-bottom: 50px;

  body.has-google-map & {
    display: block;
  }
}
