// ---------------------------------------------------------------
//
//  Basic system settings, box model, etc.
//
// ---------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  height: 100%;
}

ul {
   margin: 0;
   padding: 0;
}

/**
 * Make 'tel' link not appear as links on desktop.
 */

a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover {
    text-decoration: none;
    pointer-events: none;
}
