// ---------------------------------------------------------------
//
//  Basic system settings, box model, etc.
//
// ---------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;

  &.ar {
    direction: rtl;
  }
}

html,
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

/**
 * Make 'tel' and 'fax' link not appear as links on desktop.
 */

a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover,
a[href^="fax"]:link,
a[href^="fax"]:visited,
a[href^="fax"]:hover {
  text-decoration: none;
  pointer-events: none;
  direction: ltr;
  unicode-bidi: embed;
}

.page-wrap {
  //overflow: auto;
}

.offcanvas-active {
  .page-wrap {
    position: fixed;
    overflow: hidden;
  }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
