// ---------------------------------------------------------------
//
//  Headers across the site: main header, page-detail header
//
// ---------------------------------------------------------------

.header-main {
  position: relative;
  margin-bottom: 15px;
  height: 182px;
  background: $brand_beige;

  // Visual horizontal enlargement of non startpage distributor box
  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100px;
    background: $brand_yellow;
    content: '';

    body.refugees & {
      border-top: 6px solid $brand_core_refugees;
    }

    body.family & {
      border-top: 6px solid $brand_core_family;
    }

    .template--500 & {
      display: none;
    }
  }
}

.header-main--wide {
  height: 475px;
  // border-top: 4px solid $brand_yellow; // disabled when banner is active
  background: image-url('bg_scratches.jpg') no-repeat center bottom;
  background-size: cover;

  .template--pages-home & {
    margin-bottom: 0;
  }

  .template--pages-about & {
    border-bottom: 15px solid $brand_yellow;
  }

  &:before {
    display: none;
  }
}

.header-main__foreground {
  @extend %clearfix;
  margin-top: -4px;
  height: inherit;
  background: image-url('foreground.svg') no-repeat center 102%;
  background-size: contain;

}

.page-detail__header {
  @extend %clearfix;
  margin-bottom: 5px;
}

.page-detail__title {
  @extend %roboto_bold;
  font-weight: 400;
  font-size: 34px;
}

.jump-to-categories {
  display: none;
}
