// ---------------------------------------------------------------
//
//  Base layout wrappers
//
// ---------------------------------------------------------------

// Generic wrapper

.wrapper-inner {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;

	body[class^="template--pages-"] & {
		margin-bottom: 30px;
	}
}


// Main wrapper: content, aside:

.content-main,
.aside-standard {
  @extend %clearfix;
  padding: 10px 0;
}


.content-main {
  @extend %layout-col-69;

  &.content-main--section_choice {
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.content-main--wide {
    float: none;
    margin: 60px auto 0;
    padding: 0;
    width: 100%;
  }

  &.content-main--offers-index {
    position: relative;
    width: 100%;
    float: none;
    padding-left: calc(31% + 2px);
    padding-top: 0;

    html[dir="rtl"] & {
      padding-right: calc(31% + 2px);
      padding-left: 0;
    }
  }
}

.aside-standard {
  @extend %layout-col-29;
  margin-bottom: 80px;
}

.content-main,
.Categories {
  .template--offers-index & {
    display: block;
    float: none;
    width: 100%;
  }
}



// Sticky footer related

.page-wrap {
  min-height: 100%;
  margin-bottom: -196px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer-main,
.page-wrap:after {
  height: 196px;
}

.template--emails-offers_index {

  .section-wrapper-minor {
    float: left;
  }

  .section-wrapper-major {
    float: right;
    margin: 0 0 0 2.5%;
  }
}

.footer-main__subscribe {
  html[dir="rtl"] & {
    float: right;
  }
}

.footer-main__about {
  html[dir="rtl"] & {
    float: left;
  }
}

.section-wrapper-minor {
  html[dir="rtl"] & {
    float: left;
  }
}

.section-wrapper-major {
  html[dir="rtl"] & {
    float: right;
    margin-right: 0;
    margin-left: 2.5%;
  }
}


// Silent layout helper classes

%layout-col-33,
%layout-col-50,
%layout-col-69,
%layout-col-29 {
  display: inline-block;
  float: left;
}

%layout-col-33 {
  margin-right: 2.5%;
  width: 31.666666667%;
}

%layout-col-50 {
  margin-right: 2.5%;
  width: 48.75%;
}

%layout-col-last {
  margin-right: 0;
}

%layout-col-69 {
  width: 68.8%;
}

%layout-col-29 {
  width: 28.7%;
}
