// ---------------------------------------------------------------
//
//  Font implementation and styles
//
// ---------------------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic);


%roboto_regular {
  font-family: 'roboto-regular', 'Roboto', sans-serif;
}

%roboto_light {
  font-family: 'roboto-light', 'Roboto', sans-serif;
}

%roboto_bold {
  font-family: 'roboto-bold', 'Roboto', sans-serif;
}

%roboto_italic {
  font-family: 'roboto-italic', 'Roboto', sans-serif;
}

%roboto_black {
  font-family: 'roboto-black', 'Roboto', sans-serif;
}

body {
  @extend  %roboto_regular;
  color: $font_color;
}

body,
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  a {
    color: inherit;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

h4 {
  font-weight: normal;
}

p {
  line-height: 1.68;
}

// Iconfonts

.fa {
  margin-right: 5px;
}

dfn {
  font-style: normal;
  border-bottom: 1px dashed rgba($brand_brown, .75);
  cursor: help;
}
