@import "mixins/all";

#map-container {
  // position: fixed;
  // right: 0;
  // top: 85px;
}
#map-canvas {
  width: 100%;
  height:300px;
}

li.JS-highlighted {
  .search-headline {
    background: green !important;
  }
}



// !!!!!!!!!!!!!!!!!!!!!!! TODO: REFACTOR !!!!!!!!!!!!!!!!!!!!!!! //




.input-xlg {
  height: 58px;
  padding: 10px 16px;
  font-size: 1em;
  line-height: 1.33;
  border-radius: 6px;
  vertical-align: inherit !important;
}

.btn-xlg {
  height: 58px;
  font-size: 1em;
}

.btn-aligned {
  vertical-align: top;
}

.btn {
  background-color: $clarat-yellow;
  &:hover {
    background-color: $clarat-hover-brown;
  }
}


.container-full-size {
  width: 100%;
  padding: 0 15px;
}

.about-teaser {
  margin-top: 10%;
  margin-left: 25%;
}

.about-background {
  margin-bottom: 0.5em;
  display: inline-block;
}

.about-text {
  font-size: 2em;
  padding: 0 0.5em 0 0.5em;
}

.yellow-background {
  background-color: $clarat-yellow;
  color: white;
  a {
    color: white;
    &:hover {
      color: $clarat-hover-brown;
    }
  }
}

.about-2c {
  padding: 1em 1em 0em 1em;
  .description-2c {
    padding-bottom: 1em;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.bottom-zero {
  bottom: 0;
}

.footer-font-big {
  font-size: 3em;
}

.footer-font-small {
  font-size: 0.8em;
}

.font-white {
  color: white;
  &:hover {
    color: $clarat-hover-brown;
    text-decoration: none;
  }
}

.icon-white {
  color: white;
  &:hover {
    color: white;
  }
}

.search-results {
  padding-left: 0;
  list-style-type: none;

  li {
    margin-bottom: 1em;
  }
}

.search-headline {
  padding: 0 0.5em 0 0.5em;
}

.grey-background {
  background-color: #E5E4E2;
}

.white-background {
  background-color: white;
}

.search-subtitle {
  font-size: 0.75em;
  padding: 0 0.75em 0 0.75em;
}

.teaser-image {
  padding-left: 8em;
}

