// TODO: REFACTOR TO l-*

.navbar-transparent {
  background:transparent;
  // to make sure there is no white background (why does it work this way?)
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  // Remove thin white line that screws with the image
  border: none;
}

.navbar-search {
  box-shadow: 0 1px 1px #909090;
  position: relative;
}

.navbar-padding {
  margin-top: -79px;
}

.search-nav-image {
  padding-top: 1em;
  padding-bottom: 1em;
}
