:root {
  --brand_core_family: #af1d3f;
  --brand_core_family_lightened: #D1768A;
  --brand_core_refugees: #006b81;
  --brand_core_refugees_lightened: #63A6B4;
  --brand_yellow: #F4B528;
  --brand_green: #8CBD86;
  --brand_green_alternative: #689860;
  --brand_brown: #41311A;
  --brand_beige: #f6eedc;
  --brand_white: #FFF;
  --brand_orange: #F78300;
  --brand_blue: #87A6AE;
  --brand-grey: #C3BFB1;
  --brand-violet: #a586bb;
  --brand_coal: #666666;
  --red: rgb(175, 28, 63);
  --yellow: #F5B62F;
  --beige: #F6EED9;

  --max-width: 1000px;
}
