// ---------------------------------------------------------------
//
//  automated translation blocks
//
// ---------------------------------------------------------------

.Automated-translation {
  position: relative;

  h2 & {
    display: inline-block;
    padding-right: 40px;
  }
}

.Automated-translation__text {
  h2 & {
    display: inline-block;
  }
}

.Automated-translation__warning {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: help;

  h2 & {
    bottom: 8px;
  }

  h3 & {
    position: absolute;
    right: 7px;
    top: 7px;
    max-width: 54px;
    background: rgba(255,255,255,0.33);
    padding: 2px;
    margin-top: -2px;
    border-radius: 2px;
  }
}
