// ---------------------------------------------------------------
//
//  automated translation blocks
//
// ---------------------------------------------------------------

h2 .Automated-translation {
  display: inline-block;
  padding-right: 40px;
}

h2 .Automated-translation__text {
  display: inline-block;
}

.Automated-translation__warning {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: help;
}

h2 .Automated-translation__warning {
  bottom: 8px;
}
