// ---------------------------------------------------------------
//
//  Banner
//
// ---------------------------------------------------------------

.Banner {
  display: none; // REMOVE
  @extend %roboto_bold;
  min-height: 44px;
  background: #006699;
  color: $brand_white;
  text-align: center;
  line-height: 40px;
}

.Banner__text {
  position: relative;
  display: inline-block;
  padding-left: 48px;
  width: auto;

  // Temporarily disable to focus on Refugees
  // &:before {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 40px;
  //   height: 40px;
  //   background: image-url('buggy.svg') bottom left no-repeat;
  //   content: '';
  // }

}

.Banner__link {
  padding-left: 10px;
  color: $brand_white;
}