// ---------------------------------------------------------------
//
//  Banner
//
// ---------------------------------------------------------------

.Banner {
  @extend %roboto_bold;
  min-height: 44px;
  background: $brand_blue;
  color: $brand_white;
  text-align: center;
  line-height: 40px;
}

.Banner__text {
  position: relative;
  display: inline-block;
  padding-left: 48px;
  width: auto;
}

.Banner__link {
  padding-left: 10px;
  color: $brand_white;
}