.Callout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Callout__section {
  padding: 46px 37px 0;
}

.Callout__icon {
  margin-bottom: 12px;

  [data-section="family"] & {
    fill: $brand_core_family;
  }

  [data-section="refugees"] & {
    fill: $brand_core_refugees;
  }
}

.Callout__headline {
  @extend %roboto_slabregular;
  font-size: 26px;
  margin-bottom: 15px;

  [data-section="family"] & {
    color: $brand_core_family;
  }

  [data-section="refugees"] & {
    color: $brand_core_refugees;
  }
}
