// ---------------------------------------------------------------
//
//  Category tree module
//
// ---------------------------------------------------------------

.Categories {
  @extend %layout-col-29;
  margin: 26px 2.5% 20px 0;

  body.ar & {
    margin: 26px 0 20px 2.5%;
  }
}

.Categories__headline {
  @extend %roboto_regular;
  font-weight: 400;
}

.Categories__show-all {
  a {
    @extend %roboto_bold;
    @extend %clarat_rounding_start;
    @extend %clarat_rounding_end;
    display: block;
    margin-bottom: 20px;
    padding: 4px 10px;
    background: $brand_yellow;
    color: $brand_white;
    text-decoration: none;
    word-break: break-all;
  }
}

.Categories__listitem {
  margin-top: 5px;

  a {
    text-decoration: none;
  }

  &:first-child {
    margin-top: 0;
  }

  &,
  li,
  li li {
    position: relative;
    list-style: none;

  }

  li,
  li li {
    &:before {
      position: absolute;
      content: ' · ';
      left: -10px;
      font-weight: 700;
    }
  }

  > .Categories__list {
    display: none;
  }

  &.active {
    > a {
      @extend %roboto_bold;
    }

    > .Categories__list {
      display: block;
    }
  }

  &.depth--0 {
    list-style: none;
    margin-bottom: 20px;

    .has-children {
      position: relative;

      &:before {
        position: absolute;
        content: ' › ';
        left: -9px;
        font-weight: 700;
      }
    }

    .Categories__list {
      margin: 8px 0;

      a {
        background: transparent;
        color: $brand_brown;
        font-weight: 400;
        font-size: $base_font_size;
      }
    }

    > a {
      @extend %roboto_bold;
      @extend %clarat_rounding_start;
      @extend %clarat_rounding_end;
      display: block;
      min-height: 32px;
      background: $brand_blue;
      color: $brand_white;
      font-size: 18px;
      padding: 4px 10px;

      body.refugees & {
        background-color: rgba($brand_core_refugees, .6);
      }

      body.family & {
        background-color: rgba($brand_core_family, .6);
      }
    }

    &.active > a {
      background: $brand_brown;

      body.refugees & {
        background-color: rgba($brand_core_refugees, 1);
      }

      body.family & {
        background-color: rgba($brand_core_family, 1);
      }
    }
  }
}

.Categories__list .Categories__list {
  padding-left: 30px;
}


