// ---------------------------------------------------------------
//
//  Claim in site header
//
// ---------------------------------------------------------------

.Claim {
  float: right;
  margin-top: 43px;
  margin-right: 15%;
  max-width: 30%;

  body.ar & {
    float: left;
  }
}

.Claim__firstrow {
  @extend %clarat_rounding;
  @extend %roboto_bold;
  display: inline-block;
  margin-bottom: 0;
  background: $brand_yellow;
  color: $brand_white;
  font-weight: 400;
  line-height: 1;
  padding: 7px 9px 9px;
  font-size: 28px;
}

.Claim__secondrow {
  margin-top: 10px;
  padding: 7px 9px 6px;
  font-size: 22px;
  line-height: 1.3;
  position: absolute;
  left: 0;
  top: 160px;
  max-width: 300px;

  body.refugees & {
    color: $brand_core_refugees;
  }
  body.family & {
    color: $brand_core_family;

  }

}
