.contact-person-matrix {
  width: 100%;

  tr {
    > td {
      &:first-child {
        border-right: 1px solid $brand-grey;
        width: 49%;

        body.ar & {
          border-left: 1px solid $brand-grey;
          border-right: none;
        }
      }
    }

    td:nth-child(2) {
      position: relative;
      width: 48%;
      padding-left: 3%;

      body.ar & {
        padding-left: 0;
        padding-right: 3%;
      }

      $triangle_dimension: 10px;

      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: ' ';
        width: 0;
        height: 0;
        border-bottom: $triangle_dimension solid transparent;
        border-top: $triangle_dimension solid transparent;
        border-left: $triangle_dimension solid $brand-grey;
        font-size: 0;
        line-height: 0;
        margin-top: -($triangle_dimension);

        body.ar & {
          right: 0;
          left: auto;
          border-right: $triangle_dimension solid $brand-grey;
          border-left: 0;
        }
      }
    }
  }

  td {
    padding: 12px 0;
  }
}

.contact-person-matrix__title {
  font-weight: 700;
  display: block;
}

.contact-person-matrix__subline {
  font-size: 12px;
}