// ---------------------------------------------------------------
//
//  Big yellow distributor on start
//
// ---------------------------------------------------------------

.Distributor {
  @extend %clarat_rounding_start;
  float: right;
  margin-top: 41px;
  width: 68.8%;
  height: 141px;
  background: $brand_yellow;
  z-index: 2;
  position: relative;
}

.Distributor--navigation {
  html[dir="rtl"] & {
    float: left;
  }
}

.Distributor__search-form {


  html[dir="rtl"] body.template--pages-home &,
  .template--pages-home & {
    float: none;
  }
}

.Distributor__advanced-filter-trigger-wrapper {
  width: 100%;

  html[dir="rtl"] & {
    float: left;
  }

  //body.family & {
  //  background-color: rgba($brand_core_family, .6);
  //}
  //
  //body.refugees & {
  //  background-color: rgba($brand_core_refugees, .6);
  //}

  //.template--offers-index & {
  //  display: table;
  //}

}

.Distributor--start {
  float: none;
  margin-top: 0;
  margin-bottom: 90px;
  max-width: 100%;
  width: 100%;
  height: 230px;
  border-radius: 0;

  &:after {
    display: none;
  }

}