// ---------------------------------------------------------------
//
//  Big yellow distributor on start
//
// ---------------------------------------------------------------

.Distributor {
	@extend %clarat_rounding_start;
	float: right;
	margin-top: 40px;
	max-width: 61.8%;
	height: 100px;
	background: $brand_yellow;
	z-index: 2;

	&:after {
		position: absolute;
		top: 40px;
		right: -100%;
		bottom: 0;
		z-index: 1;
		width: 100%;
		height: 100px;
		background: $brand_yellow;
		content: ' ';
	}
}

.Distributor--start {
	float: none;
	margin-top: 0;
	margin-bottom: 90px;
	max-width: 100%;
	height: 230px;
	border-radius: 0;

	&:after {
		display: none;
	}
}