// ---------------------------------------------------------------
//
//  Big yellow distributor on start
//
// ---------------------------------------------------------------

.Distributor {
  //@extend %clarat_rounding_start;
  float: right;
  margin-top: 40px;
  width: 68.8%;
  height: 100px;
  background: $brand_yellow;
  z-index: 2;
  position: relative;

  body.refugees & {
    border-top: 6px solid $brand_core_refugees;
  }

  body.family & {
    border-top: 6px solid $brand_core_family;
  }
}

.Distributor__search-form {
 float: left;

  .template--pages-home & {
    float: none;
  }
}

.Distributor__advanced-filter-trigger-wrapper {
  float: right;
  height: 100%;
  width: 110px;
  display: none;

  .template--offers-index & {
    display: table;
  }

}

.Distributor--start {
  float: none;
  margin-top: 0;
  margin-bottom: 90px;
  max-width: 100%;
  width: 100%;
  height: 230px;
  border-radius: 0;

  &:after {
    display: none;
  }


}
