// ---------------------------------------------------------------
//
//  FAQ Statement module
//
// ---------------------------------------------------------------

.FAQ_subtitles {
  margin-bottom: 0.2em;
}

.FAQ_question {
  @extend %roboto_bold;
  margin-bottom: 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

.FAQ_paragraph {
  display: none;
  margin-bottom: 0.5em;

  ul {
    padding-left: 2em;

    html[dir="rtl"] & {
      padding-left: 0;
      padding-right: 2em;
    }
  }

}

.FAQ_paragraph {
  ul {
    padding-left: 0;
  }

  li {
    margin-left: 20px;
    list-style-type: square;
  }
}

li[class^="FAQ__ico"] {
  list-style: none;
  padding-left: 80px;
  background-repeat: no-repeat ;
  background-position: left top;
  background-size: 66px auto;
}

.FAQ__ico--family--family {
  background-image: image-url('picto_family--family.svg');
}

.FAQ__ico--health--family {
  background-image: image-url('picto_health--family.svg');
}

.FAQ__ico--learn--family {
  background-image: image-url('picto_learn--family.svg');
}

.FAQ__ico--everydaylife--family {
  background-image: image-url('picto_everydaylife--family.svg');
}

.FAQ__ico--violence--family {
  background-image: image-url('picto_violence--family.svg');
}

.FAQ__ico--crisis--family {
  background-image: image-url('picto_crisis--family.svg');
}

.FAQ__ico--legal--refugees {
  background-image: image-url('picto_legal--refugees.svg');
}

.FAQ__ico--family--refugees {
  background-image: image-url('picto_family--refugees.svg');
}

.FAQ__ico--health--refugees {
  background-image: image-url('picto_health--refugees.svg');
}

.FAQ__ico--legal--refugees {
  background-image: image-url('picto_legal.svg');
}

.FAQ__ico--learn--refugees {
  background-image: image-url('picto_learn--refugees.svg');
}

.FAQ__ico--everydaylife--refugees {
  background-image: image-url('picto_everydaylife--refugees.svg');
}

.FAQ__ico--violence--refugees {
  background-image: image-url('picto_violence--refugees.svg');
}

.FAQ__ico--crisis--refugees {
  background-image: image-url('picto_crisis--refugees.svg');
}

.section-question-group__headline {
  @extend %roboto_bold;
  @extend %clarat_rounding_start;
  position: relative;
  margin-bottom: 0;
  padding: 0 1em;
  min-height: 40px;
  background: $brand_blue;
  color: $brand_white;
  font-size: 18px;

  line-height: 40px;

  .section-start--how & {
    background: $brand_blue;
  }

  .section-start--why & {
    background: #C3BFB4;
  }
}

.section-question-group__body {
  @extend %clarat_rounding_end;
  padding: 0.6em 1em 0.8em;
  background: $brand_beige;
  margin-bottom: 2em;
}
