// ---------------------------------------------------------------
//
//  FAQ Statement module
//
// ---------------------------------------------------------------

.FAQ_subtitles {
  margin-bottom: 0.2em;
}

.FAQ_question {
  margin-bottom: 0;
  cursor: pointer;
  text-decoration: underline;
}

.FAQ_paragraph {
  display: none;
  margin-bottom: 0.5em;
}

.section-question-group {
  // @extend %layout-col-33;
  // position: relative;
  // margin-bottom: 68px;

  // &.section-start--how:after {
  //   background: $brand_blue;
  // }
}

.section-question-group__headline {
  @extend %roboto_bold;
  @extend %clarat_rounding_start;
  position: relative;
  margin-bottom: 0;
  padding: 0 30px;
  height: 45px;
  background: $brand_blue;
  color: $brand_white;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;

  .section-start--how & {
    background: $brand_blue;
  }

  .section-start--why & {
    background: #C3BFB4;
  }
}

.section-question-group__body {
  @extend %clarat_rounding_end;
  padding: 1em 1em 1em;
  background: $brand_beige;
  margin-bottom: 2em;
}