// ---------------------------------------------------------------
//
//  Flash message on top of page
//
// ---------------------------------------------------------------

.Flash-message {
	@extend %roboto_bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: $brand_white;
}

.Flash-message--alert {
	background: $brand_brown;
}

.Flash-message--success {
	background: $brand_green;
}

.Flash-message--error {
	background: $brand_orange;
}

.Flash-message--notice {
	background: $brand_yellow;
}