// ---------------------------------------------------------------
//
//  Flash message on top of page
//
// ---------------------------------------------------------------

.Flash-message {
  @extend %roboto_bold;
  @extend .Banner;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.Flash-message--alert {
  background: $brand_brown !important;
}

.Flash-message--success {
  background: $brand_green !important;
}

.Flash-message--error {
  background: $brand_orange !important;
}

.Flash-message--notice {
  background: $brand_yellow !important;
}

.Flash-message__close {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
}
