// ---------------------------------------------------------------
//
//  Illustration girl, footer and 'section mascot'
//
// ---------------------------------------------------------------

.Illustration-clara-t {
	position: absolute;
}


.Illustration-clara-t--scooter {
	right: 150px;
	bottom: 0;
	width: 120px;

	.template--start & {
		display: none;
	}
}

.Illustration-clara-t--reading {
	left: 33%;
	bottom: 0;
}
