.JS-Cookie-warning {
  position: fixed;
  bottom: 0;
  padding: 10px 30px 10px 10px;
  width: 100%;
  background: $brand_orange;
  color: white;
  font-size: 13px;
  z-index: 1000;
  text-align: center;

  a {
    @extend %roboto_bold;
    color: inherit;
  }

  .JS-Cookie-warning--close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 22px;
    cursor: pointer;
    z-index: 500;
  }
}
