// ---------------------------------------------------------------
//
//  Listing of only offers
//
// ---------------------------------------------------------------


.Listing-offers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.Listing-offers__listitem {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.Listing-offers__address {
  font-size: 13px;
  padding-bottom: 6px;
  padding-left: 8px;
  background: $brand_beige;
  padding-top: 4px;
}
