// ---------------------------------------------------------------
//
//  Listing of offers and their organisation entity, e.g. as a result of search or filtering
//
// ---------------------------------------------------------------

.Listing-results__pending-ajax {
  text-align: center;
  font-size: 40px;

  h2 {
    margin: 100px 0 0 0;
    font-size: 30px;
  }

  p {
    margin: 5px 20%;
    font-size: $base_font_size;
  }
}

.Listing-results__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Listing-results__listitem {
  margin-bottom: 25px;
}

.Listing-results__offer {
  &.Listing-results__offer--highlighted {
    background: $brand_orange;
  }
}

.Listing-results__headline {
  @extend %roboto_bold;
  position: relative;
  margin: 0.5em 0;
  font-weight: 400;
  font-size: 20px;

  .search-string {
    max-width: 75%
  }

  .big-map_open,
  .more_remote-offers_open {
    @extend %small_button_style;
    position: absolute;
    right: 0;
    top: 0;

    body.ar & {
      right: auto;
      left: 0;
    }

    a {
      text-decoration: none;
    }
  }

}

.Listing-results__emphasis {
  @extend %roboto_bold;
  display: inherit;
}

.Listing-results__offer,
.Listing-results__offerinfo {
  position: relative;
  margin: 0;
  font-weight: 400;

  a {
    display: block;
    height: inherit;
    text-decoration: none;
    min-height: 24px;

    &:hover {
      color: $brand_brown;
    }
  }
}

.Listing-results__offer {
  @extend %roboto_bold;
  @extend %clarat_rounding_start;
  background: $brand_yellow;
  padding: 7px 15px;
  min-height: 38px;
  font-size: 18px;

  a {
    color: $brand_white;
  }

  .Listing-results__listitem--highlighted & {
    background: $brand_orange;
  }
}

.Listing-results__offerinfo {
  @extend %roboto_regular;
  @extend %clearfix;
  @extend %clarat_rounding_end;
  min-height: 32px;
  background: $brand_beige;
  font-size: 13px;

  a {
    color: $brand_brown;
  }
}

.Listing-results__globe {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 30px;
  height: 30px;

  body.ar & {
    left: 4px;
    right: auto;
  }
}


.Listing-results__organization {
  display: inline-block;
  padding: 6px 15px;
}

.Listing-results__contact-type {
  display: inline-block;
  margin-right: -5px;
  padding: 6px 6px 8px;
  background: $brand_green_alternative;
  color: $brand_white;

  body.ar & {
    margin-left: -5px;
    margin-right: 0;
  }
}

.Listing-results__orga-display {
  @extend %roboto_bold;
  margin-bottom: 0;
  line-height: 1.65;
}

.Listing-results__expander {
  @extend %hide_text;
  display: none;
  width: 40px;
  height: 24px;
  background: transparent no-repeat center center;

  &[aria-toggle='false'] {
    background-image: image-url('ico_expand.svg');
  }

  &[aria-toggle='true'] {
    background-image: image-url('ico_collapse.svg');
  }

  body.refugees &,
  body.family & {
    background-color: transparent;
  }
}

.Listing-results__meta,
.Listing-results__stamp {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 4px;
}

.Listing-results__meta--with-address {
  background: transparent image-url('gmaps_marker.svg') no-repeat left center;
  background-size: auto 30px;
  padding-left: 30px;
}

.Listing-results__address {
  margin-bottom: 4px;
}

.Listing-results__meta {
  width: 62%;
}

.Listing-results__stamp {
  width: 38%;
  background: transparent image-url('ico_user.svg') no-repeat 6px 5px;
  padding: 4px 4px 0 30px;
  background-size: auto 20px;
  line-height: 1.8;
  overflow: hidden;
}
