// ---------------------------------------------------------------
//
//  Tag listing
//
// ---------------------------------------------------------------

.Listing-categories {
  @extend %clearfix;
  margin: 0;
  padding: 0;
  list-style: none;

  .js-more-trigger {
    text-decoration: none;
    color: $brand_blue;
  }
}

.Listing-categories__item {
  a {
    @extend %roboto_bold;
    display: inline-block;
    float: left;
    background: $brand_blue;
    color: $brand_white;
    margin: 0 8px 8px 0;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;

    &:hover,
    &.active {
      background-color: $brand_orange;
    }

  }

  &:first-child {
    a {
      @extend %clarat_rounding_start;
    }
  }

  a {
    color: $brand_white;
    text-decoration: none;
  }
}

.Listing-categories__control {
  @extend %roboto_bold;
  clear: both;
  text-align: left;
}
