// ---------------------------------------------------------------
//
//  Listing of only offers
//
// ---------------------------------------------------------------


.Listing-offers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Listing-offers__listitem {
  min-height: 32px;
}
