// ---------------------------------------------------------------
//
//  Listing of offers and their organisation entity, e.g. as a result of search or filtering
//
// ---------------------------------------------------------------


.Listing-results__pending-ajax {
  text-align: center;
  font-size: 40px;

  h2 {
    margin: 100px 0 0 0;
    font-size: 30px;
  }

  p {
    margin: 5px 20%;
    font-size: $base_font_size;
  }
}

.Listing-results__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Listing-results__listitem {
  margin-bottom: 25px;

  &.JS-highlighted {
    .Listing-results__offer {
      background: $brand_orange;
    }
  }
}

.Listing-results__headline {
  @extend %roboto_bold;
  position: relative;
  margin: 0.5em 0;
  font-weight: 400;
  font-size: 20px;

  .search-string {
    max-width: 75%
  }

  .big-map_open,
  .more_remote-offers_open {
    @extend %small_button_style;
    position: absolute;
    right: 0;
    top: 0;
    a {
      text-decoration: none;
    }
  }

}

.Listing-results__emphasis {
  @extend %roboto_bold;
  display: inherit;
}

.Listing-keyword__highlight{
  color: $font_color_highlight
}

.Listing-results__offer,
.Listing-results__offerinfo {
  position: relative;
  margin: 0;
  font-weight: 400;

  a {
    display: block;
    height: inherit;
    text-decoration: none;

    &:hover {
      color: $brand_brown;
    }
  }
}

.Listing-results__offer {
  @extend %roboto_bold;
  @extend %clarat_rounding_start;
  padding: 7px 15px;
  min-height: 38px;
  background: $brand_yellow;
  font-size: 18px;

  a {
    color: $brand_white;
  }

  .Listing-results__listitem--highlighted & {
    background: $brand_orange;
  }
}

.Listing-results__offerinfo {
  @extend %roboto_regular;
  @extend %clarat_rounding_end;
  min-height: 32px;
  background: $brand_beige;
  font-size: 13px;

  a {
    color: $brand_brown;
  }
}

.Listing-results__organization {
  display: inline-block;
  padding: 6px 15px;
}

.Listing-results__contact-type {
  display: inline-block;
  margin-right: -5px;
  padding: 6px 6px 8px;
  background: $brand_violet;
  color: $brand_white;

}
