// ---------------------------------------------------------------
//
//  Listing of only organizations
//
// ---------------------------------------------------------------


.Listing-organizations__list {
  margin: 0;
  padding: 0;

  li {
    margin-left: 25px;
    list-style-type: square;
  }
}

.Listing-organizations__link {
  @extend %roboto_bold;
}
