// ---------------------------------------------------------------
//
//  Listing of only organizations
//
// ---------------------------------------------------------------


.Listing-organizations__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Listing-organizations__link {
  @extend %roboto_bold;
}
