// ---------------------------------------------------------------
//
//  Logo
//
// ---------------------------------------------------------------

.Logo {
  @extend %hide_text;
  min-height: 100px;
  float: left;
  margin: 0;
  display: block;
  width: 215px;
  height: 88px;
  background: no-repeat left center;

  a {
    display: block;
    width: inherit;
    height: inherit;
  }

  [dir="rtl"] & {
    float: right;
    background-position: right center;

  }

  //body.refugees & {
  //  background-image: image-url('logo--refugees.svg');
  //  background-size: auto 75px;
  //}
  //
  //body.family & {
  //  background-image: image-url('logo--family.svg');
  //  background-size: auto 75px;
  //}

  //body.template--pages-section_choice[data-section="refugees"] &,
  //body.template--pages-section_choice[data-section="family"] & {
  //  background-image: image-url('logo--worldless.svg');
  //  background-size: auto 75px;
  //}

}
