// ---------------------------------------------------------------
//
//  Logo
//
// ---------------------------------------------------------------

.Logo {
  @extend %hide_text;
  display: block;
  float: left;
  margin-top: 46px;
  width: 215px;
  height: 47px;

  body.refugees & {
    background: image-url('logo--refugees.svg');
    background-size: 215px 47px;
  }

  body.family & {
    background: image-url('logo--family.svg');
    background-size: 215px 47px;
  }

  a {
    display: block;
    width: inherit;
    height: inherit;
  }
}

.Logo--start {
  margin-top: 60px;
  width: 297px;
  height: 65px;
  background-size: 297px 65px;

  body.refugees & {
    background: image-url('logo--refugees.svg');
    background-size: 297px 65px;
  }

  body.family & {
    background: image-url('logo--family.svg');
    background-size: 297px 65px;
  }
}
