// ---------------------------------------------------------------
//
//  Logo
//
// ---------------------------------------------------------------

.Logo {
  @extend %hide_text;
  display: block;
  float: left;
  margin-top: 46px;
  width: 215px;
  height: 88px;

  body.refugees & {
    background: image-url('logo--refugees.svg');
    background-size: 215px 88px;
  }

  body.family & {
    background: image-url('logo--family.svg');
    background-size: 215px 88px;
  }

  html[dir="rtl"] & {
    float: right;
  }

  a {
    display: block;
    width: inherit;
    height: inherit;
  }
}

.Logo--start {
  margin-top: 36px;
  width: 250px;
  height: 95px;
  background-size: 250px 95px;

  body.refugees & {
    background: image-url('logo--refugees.svg');
    background-size: 250px 95px;
  }

  body.family & {
    background: image-url('logo--family.svg');
    background-size: 250px 95px;
  }
}
