// ---------------------------------------------------------------
//
//  Styling Google Maps output
//
// ---------------------------------------------------------------

#map-container,
#map-canvas {
  height: 300px;
}

#map-container.Map__small,
#map-canvas.Map__small {
  height: 150px;
}

.Map-infowindow__headline {
  margin-bottom: 0;

  a {
    color: $brand_orange;
  }
}

.map__button--enlarge {
  @extend %small_button_style;
  margin-top: 10px;
  word-break: break-all;
}

#big-map {
  width: 95%;
  height: 95%;

}

// Dealing with BESbewy phenomenon of GM Api in AR locale
// http://stackoverflow.com/questions/29587637/remove-besbewy-from-google-api

html[dir="rtl"] {
  &.has-google-map {
    & > span:last-of-type {
      display: none !important;
    }
  }
}

