// ---------------------------------------------------------------
//
//  Illustration girl, footer and 'section mascot'
//
// ---------------------------------------------------------------

.mascot {
  position: absolute;
  background: no-repeat left bottom;
}

.mascot--footer {
  right: 350px;
  bottom: 0;
  width: 120px;
  height: 150px;
  background-image: image-url('mascot--footer.svg');
  background-size: 120px auto;

  .template--pages-home & {
    display: none;
  }

  body.ar & {
    left: 350px;
    right: auto;
  }
}

.mascot--header {
  bottom: 0;
  left: 240px;
  width: 114px;
  height: 126px;

  body.ar & {
    right: 240px;
    left: auto;
  }

  .template--offers-index & {
    background-image: image-url('mascot--index.svg');
  }

  .template--offers-show &, .template--previews-show_offer & {
    background-image: image-url('mascot--show.svg');
  }

  .template--organizations-show &, .template--previews-show_organization & {
    background-image: image-url('mascot--organization.svg');
  }

  .template--pages-about & {
    width: 233px;
    height: 122px;
    background-image: image-url('mascot--about.svg');
  }

  .template--contacts-new & {
    background-image: image-url('mascot--contact.svg');
    width: 181px;
    left: 300px;
  }

  .template--pages-faq & {
    left: 234px;
    width: 295px;
    height: 130px;
    background-image: image-url('mascot--faq.svg');
  }

}
