// ---------------------------------------------------------------
//
//  Illustration girl, footer and 'section mascot'
//
// ---------------------------------------------------------------

.mascot {
  position: absolute;
  background: no-repeat left bottom;
}

.mascot--footer {
  right: 350px;
  bottom: 0;
  width: 120px;
  height: 150px;
  background-image: image-url('mascot--footer.svg');
  background-size: 120px auto;

  .template--pages-home & {
    display: none;
  }

  html[dir="rtl"] & {
    left: 350px;
    right: auto;
  }
}

.mascot--header {
  bottom: 0;
  left: 240px;
  width: 114px;
  height: 126px;

  html[dir="rtl"] & {
    right: 240px;
    left: auto;
  }

  .template--offers-index & {
    background-image: image-url('mascot--index.svg');
  }

  body.refugees.template--offers-index & {
    background-image: image-url('mascot--index-refugees.svg');
  }

  .template--offers-show &,
  .template--previews-show_offer & {
    background-image: image-url('mascot--show.svg');
  }

  body.family.template--offers-show &,
  body.family.template--previews-show_offer & {
    background-image: image-url('mascot--show-family.svg');
  }

  body.refugees.template--offers-show &,
  body.refugees.template--previews-show_offer & {
    background-image: image-url('mascot--show-refugees.svg');
  }

  .template--organizations-show &, .template--previews-show_organization & {
    background-image: image-url('mascot--organization.svg');
  }

  .template--pages-about & {
    width: 233px;
    height: 132px;
    background-image: image-url('mascot--about.svg');
  }

  .template--contacts-new & {
    background-image: image-url('mascot--contact.svg');
    width: 181px;
    left: 250px;
    height: 140px;
  }

  .template--pages-faq & {
    left: 234px;
    width: 295px;
    height: 130px;
    background-image: image-url('mascot--faq.svg');
  }

  body.family.template--pages-faq & {
    background-image: image-url('mascot--faq-family.svg');
  }

  body.refugees.template--pages-faq & {
    background-image: image-url('mascot--faq-refugees.svg');
  }

  body.family.template--pages-privacy &,
  body.family.template--pages-agb &,
  body.family.template--pages-impressum & {
    background-image: image-url('mascot--metadata-family.svg');
  }

  body.refugees.template--pages-privacy &,
  body.refugees.template--pages-agb &,
  body.refugees.template--pages-impressum & {
    background-image: image-url('mascot--metadata-refugees.svg');
  }

  body.family.template--contacts-new &,
  body.family.template--pages-about & {
    background-image: image-url('mascot--contact-about-family.svg');
  }

  body.refugees.template--contacts-new &,
  body.refugees.template--pages-about & {
    background-image: image-url('mascot--contact-about-refugees.svg');
  }

}

