// ---------------------------------------------------------------
//
//  Illustration girl, footer and 'section mascot'
//
// ---------------------------------------------------------------

.mascot {
  position: absolute;
  background: no-repeat left bottom;
}

.mascot--footer {
  right: 350px;
  bottom: 0px;
  width: 120px;
  height: 150px;
  background-image: image-url('clara-t.svg');
  background-size: 120px auto;

  .template--pages-home & {
    display: none;
  }
}

.mascot--header {
  bottom: 0;
  left: 280px;
  width: 114px;
  height: 126px;

  .template--offers-index & {
    background-image: image-url('reading-clara-t.svg');
  }

  .template--offers-show & {
    background-image: image-url('searching-clara-t_offer.svg');
  }

  .template--organizations-show & {
    background-image: image-url('searching-clara-t_organisation.svg');
  }

  .template--pages-about & {
    width: 233px;
    height: 122px;
    background-image: image-url('mascot--about.svg');
  }

  .template--contacts-new & {
    background-image: image-url('mascot--contact.svg');
    width: 181px;
    left: 300px;
  }

  .template--pages-faq & {
    left: 234px;
    width: 295px;
    height: 130px;
    background-image: image-url('mascot--faq.svg');
  }

}
