.Mission__stage {
  width: 100%;
  height: auto;
  margin-top: 30px;
  background: image-url('logo.svg') no-repeat top center;
  // background-size: 60% auto;
  display: flex;
  justify-content: flex-end;

  [dir="rtl"] & {
    background-position: right center;
  }
}

.Mission__text {
  margin-top: .5em;
  display: block;
}

.Mission__statement {
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 65px;

  a {
    color: $brand_brown;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.Mission__statement,
.Mission__headline {
  @include roboto_slabbold;
  font-size: 25px;
}

.Mission__headline {
  font-size: 40px;
  margin-bottom: .5em;
}
