.more-information {
  position: sticky;
  overflow: auto;
  width: 100%;
  background: #d1768a;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;

  body.refugees & {
    background: $brand_core_refugees_lightened;
  }

  body.family & {
    background: $brand_core_family_lightened;
  }
}

.more-information-text {
  float: left;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more_information_theme {
  font-weight: bold;
}

.more-information-svg {
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  margin-right: 10px;
}

.JS-MoreInformationButton {
  float: right;
  padding: 10px 20px 10px 20px;
  margin-top: 2px;
  margin-right: 2px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40%;
}
