.section-choice {
  position: relative;
  display: flex;
  -js-display: flex;
  justify-content: center;
  flex-direction: inherit;
  list-style: none;
}

.section-choice__container {
  float: left;
  position: relative;
  margin-right: 40px;

}

.section-choice__stage {
  display: inherit;
  padding-top: 32%;
  background: no-repeat center top;
  background-size: auto 100%;
}

.section-choice__stage--family {
  background-image: image-url('reduced_illu_family.svg');
}

.section-choice__stage--refugees {
  background-image: image-url('reduced_illu_refugees.svg');
}

.section-choice__headline {
  @extend %hide_text;
  width: 100%;
  background: no-repeat center top;
  height: 140px;
}

.section-choice__headline--family {
  background-image: image-url('logo--family.svg');
  background-size: 367px 140px;
}

.section-choice__headline--refugees {
  background-image: image-url('logo--refugees.svg');
  background-size: 367px 140px;
}

.section-choice__header {
  display: flex;
  justify-content: space-between;
}

.section-choice__cta {
  @extend %roboto_slabregular;
  font-size: 21px;
  width: auto;
  color: $brand_white;
  text-decoration: none;
  padding: 20px;
  display: flex;
  align-items: center;
  line-height: 1.33;
  position: relative;
  height: 60px;

  &:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid #0054A6;
    border-bottom: 30px solid transparent;
  }

  html[dir="rtl"] & {
    padding: 6px 60px 9px 7px;
    background: image-url('skinny-arrow-left.svg') no-repeat calc(100% - 19px) center;

    &.section-choice__cta--refugees {
      background-color: $brand_core_refugees;
    }

    &.section-choice__cta--family {
      background-color: $brand_core_family;
    }
  }
}

.section-choice__cta--refugees {
  background-color: $brand_core_refugees;

  &:after {
    border-left-color: $brand_core_refugees;
  }
}
.section-choice__cta--family {
  background-color: $brand_core_family;

  &:after {
    border-left-color: $brand_core_family;
  }
}

.content-main--section_choice {
  height: 75vh;
}
