.section-choice {
  position: relative;
  list-style: none;
  display: flex;
  padding: 0 25px;
  margin-top: 25px;
}

.section-choice__item {
  flex: 1;

  &:first-child {
    border-right: 1px solid $brand_brown;

    [dir="rtl"] & {
      border-left: 1px solid $brand_brown;
      border-right: none;
    }
  }
}

.section-choice__item {
  position: relative;

  &:first-child .section-choice__container {
    margin-right: 40px;

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 40px;
    }
  }

  &:last-child .section-choice__container {
    margin-left: 40px;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 40px;
    }
  }

}

.section-choice__stage {
  display: inherit;
  padding-top: 32%;
  background: no-repeat center top;
  background-size: auto 100%;
}

.section-choice__stage--family {
  background-image: image-url('reduced_illu_family.svg');
}

.section-choice__stage--refugees {
  background-image: image-url('reduced_illu_refugees.svg');
}

.section-choice__headline {
  @extend %hide_text;
  width: 100%;
  background: no-repeat center top;
  height: 140px;
}

.section-choice__headline--family {
  background-image: image-url('logo--family.svg');
  background-size: 367px 140px;
}

.section-choice__headline--refugees {
  background-image: image-url('logo--refugees.svg');
  background-size: 367px 140px;
}

.section-choice__header {
  display: flex;
  justify-content: space-between;
}

.section-choice__cta {
  @extend %roboto_slabregular;
  font-size: 21px;
  width: auto;
  color: $brand_white;
  text-decoration: none;
  padding: 20px;
  display: flex;
  align-items: center;
  line-height: 1.33;
  position: relative;
  height: 60px;
  margin-right: 20px;


  &:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid #0054A6;
    border-bottom: 30px solid transparent;

    [dir="rtl"] & {
      right: auto;
      left: -20px;
      border-top: 30px solid transparent;
      border-right: 20px solid #0054A6;
      border-left: none;
      border-bottom: 30px solid transparent;
    }
  }

}

.section-choice__cta--refugees {
  background-color: $brand_core_refugees;

  &:after {
    border-left-color: $brand_core_refugees;

    [dir="rtl"] & {
      border-right-color: $brand_core_refugees;
    }
  }
}
.section-choice__cta--family {
  background-color: $brand_core_family;

  &:after {
    border-left-color: $brand_core_family;

    [dir="rtl"] & {
      border-right-color: $brand_core_family;
    }
  }
}
