.Type-results {
  @include clearfix;
  list-style: none;
  margin: 9px 0 20px;
  padding: 0;
  border-bottom: 4px solid;

  body.refugees & {
    color: $brand_core_refugees;
  }

  body.family & {
    color: $brand_core_family;
  }
}

.Type-results__item {
  float: left;
  padding: 5px 15px;

  &:first-child {
    @include clarat_rounding_start;
  }

  body.refugees & {
    background: $brand_core_refugees_lightened;
  }

  body.family & {
    background: $brand_core_family_lightened;
  }
}

.Type-results__item--active {
  body.refugees & {
    background: $brand_core_refugees;
  }

  body.family & {
    background: $brand_core_family;
  }
}

.Type-results__link {
  @include roboto_bold;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
