<div class='aside-standard__container' style='display: none !important'>
  <h5 class='aside-standard__headline'>
    {{headline_small_map}}
  </h5>
  <div id='map-container'>
    <div id='map-canvas'></div>
  </div>
  <a class='map__button--enlarge big-map_open' href='#big-map'>
    {{enlarge_map_anchor}}
  </a>
  <div id='big-map'>
    <button class='big-map_close'>X</button>
  </div>
</div>
