.accordion {
  margin: 1em 0;
  transition: all .25s ease-in;
}

.accordion__content {
  transition: all .25s ease-in;
}

.accordion__trigger {
  font: inherit;
  padding: 0;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
  color: inherit;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 1em;
  cursor: pointer;
}

.accordion__readmore {
  display: none;
  font: inherit;
  font-size: 80%;
  font-weight: 900;
  padding: 0;
  border: none;
  background: transparent;
  margin: .5em;
  text-align: center;
  width: 100%;
}

[data-section="family"] .accordion__readmore {
  color: var(--brand_core_family);
}

[data-section="refugees"] .accordion__readmore {
  color: var(--brand_core_refugees);
}

.accordion.closed .accordion__readmore {
  display: block;
}


.accordion.closed .accordion__content {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.accordion.closed .accordion__content:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #fff);
}


[dir="rtl"] .accordion__trigger {
  text-align: right;
}





.accordion2 {
  margin: 1em 0;
  transition: all .25s ease-in;
}

.accordion2__content {
  transition: all .25s ease-in;
  border: 2px solid var(--beige);
}

.accordion2__trigger {
  font: inherit;
  border: none;
  background-color: var(--beige);
  width: 100%;
  text-align: left;
  color: inherit;
  font-weight: 900;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 1em;
  cursor: pointer;
  padding: .5em 1em;

  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='14' viewBox='0 0 12 14'%3E%3Cpath d='M9.5 7.5v-1q0-0.203-0.148-0.352t-0.352-0.148h-6q-0.203 0-0.352 0.148t-0.148 0.352v1q0 0.203 0.148 0.352t0.352 0.148h6q0.203 0 0.352-0.148t0.148-0.352zM12 7q0 1.633-0.805 3.012t-2.184 2.184-3.012 0.805-3.012-0.805-2.184-2.184-0.805-3.012 0.805-3.012 2.184-2.184 3.012-0.805 3.012 0.805 2.184 2.184 0.805 3.012z'%3E%3C/path%3E%3C/svg%3E%0A");
}

.accordion2.closed .accordion2__trigger {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='14' viewBox='0 0 12 14'%3E%3Cpath d='M9.5 7.5v-1q0-0.203-0.148-0.352t-0.352-0.148h-2v-2q0-0.203-0.148-0.352t-0.352-0.148h-1q-0.203 0-0.352 0.148t-0.148 0.352v2h-2q-0.203 0-0.352 0.148t-0.148 0.352v1q0 0.203 0.148 0.352t0.352 0.148h2v2q0 0.203 0.148 0.352t0.352 0.148h1q0.203 0 0.352-0.148t0.148-0.352v-2h2q0.203 0 0.352-0.148t0.148-0.352zM12 7q0 1.633-0.805 3.012t-2.184 2.184-3.012 0.805-3.012-0.805-2.184-2.184-0.805-3.012 0.805-3.012 2.184-2.184 3.012-0.805 3.012 0.805 2.184 2.184 0.805 3.012z'%3E%3C/path%3E%3C/svg%3E%0A");
}

.accordion2.closed .accordion2__content {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.accordion2.closed .accordion2__content:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #fff);
}


[dir="rtl"] .accordion2__trigger {
  text-align: right;
}

.accordion2__content {
  padding: 1em;
}
