= render 'offers/index/search_results', personal_offers: @personal_offers,
                                        remote_offers: @remote_offers,
                                        search_cache: @search_cache,
                                        search: @search
