// ---------------------------------------------------------------
//
//  Generic input styles
//
// ---------------------------------------------------------------

input,
button {
  border: none;
}

input,
textarea {
  @include input-placeholder(rgba($brand_brown, .72), 400, null);
  @extend %roboto_light;
  background-color: $brand_beige;
}

input,
textarea,
button {
  &:focus {
    outline: none;
  }
}

input,
textarea {
  &:focus {
    background-color: $brand_beige;
  }
}

textarea {
  border: 0;
}

button,
input[type="submit"] {
  @extend %roboto_bold;
  font-weight: 400;
  background-color: $brand_brown;
  color: $brand_white;

  body.refugees & {
    background-color: $brand_core_refugees;
  }

  body.family & {
    background-color: $brand_core_family;
  }
}

.col-wrapper {
  display: table;
}

.col-form-inner {
  position: relative;
  display: table-cell;
  width: 25%;
}

%small_button_style {
  @extend %clarat_rounding_start;
  @extend %clarat_rounding_end;
  @extend %roboto_bold;
  display: inline-block;
  background-color: $brand_brown;
  color: $brand_white;
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;

  body.refugees & {
    background-color: $brand_core_refugees;
  }

  body.family & {
    background-color: $brand_core_family;
  }

}