// ---------------------------------------------------------------
//
//  Generic input styles
//
// ---------------------------------------------------------------

input,
button {
  border: none;
}

input,
textarea {
  @include input-placeholder(rgba($brand_brown, .72), 400, null);
  @extend %roboto_light;
  background-color: $brand_beige;
}

input,
textarea,
button {
  &:focus {
    outline: none;
  }
}

input,
textarea {
  &:focus {
    background-color: $brand_beige;
  }
}

textarea {
  border: 0;
}

button,
input[type="submit"] {
  @extend %roboto_bold;
  font-weight: 400;
  background-color: $brand_brown;
  color: $brand_white;
}
