// ---------------------------------------------------------------
//
//  Contact / Report Form
//
// ---------------------------------------------------------------

.contact-form {
  margin-top: 22px;

  .string input,
  .email input,
  textarea,
  &.formtastic .inline-errors {
    width: 440px;
  }

  .stringish, .input.string, .input.email {
    margin-bottom: 5px;
  }
}
