// ---------------------------------------------------------------
//
//  Search result filter form
//
// ---------------------------------------------------------------

// @todo: custom styling select

.filter-form {
  @extend %clearfix;
  @extend %clarat_rounding_start;
  @extend %clarat_rounding_end;
  background: $brand_beige image-url('ico_filter.svg') no-repeat 20px 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.filter-form__headline {
  text-align: right;
  font-size: 20px;
  margin: 10px 10px 20px;
}

.filter-form__fieldset {
  margin: 0;
  padding: 0 10px;
  border: none;
}


.filter-form__fieldset__headline {
  @extend %roboto_bold;
  font-weight: normal;
  color: $brand_blue;
  margin: 0;
  font-size: 13px;
}

.col-wrapper {
  display: table;
}

.col-form-inner {
  display: table-cell;
  width: 25%;
  position: relative;
}

[type="submit"].filter-form__submit {
  @extend %clarat_rounding_end;
  width: 100%;
  background: $brand_brown image-url('ico_search.svg') no-repeat 12px center;
  background-size: 20px 20px;
  padding: 10px 15px 10px 30px;
  min-height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#advanced_search_form_language_filter,
.filter-form__select {
  width: 100%;
}

.filter-form__radio {
  display: block;
  margin-bottom: 2px;

  label {
    position: relative;
    margin: 0 0 3px 6px;
    font-size: 13px;
    display: inline-block;
    max-width: 85%;
  }

  input {
    float: left;
    margin-top: 5px;
  }
}

.filter-form__radio,
.filter-form__label {
  cursor: pointer;
}

