// ---------------------------------------------------------------
//
//  Search result filter form
//
// ---------------------------------------------------------------

.filter-form {
  @extend %clearfix;
  display: none;
  position: relative;
  // overflow: hidden;
  margin: -25px 0 45px;
  padding: 12px 20px 5px 10px;
  background-color: $brand_beige;

  &.is-visible {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 10px;
    background: $brand_yellow;
    left: 0;
    right: 0;
    border-radius: 0 0 4px 4px;
  }
}

.filter-form__fieldset__wrapper {
  &.is-visible {
    display: block;
  }
}

.filter-form__fieldset__wrapper--age {
  margin-bottom: 15px;
}

.filter-form__headline {
  font-weight: normal;
  font-size: 20px;
}

.filter-form--isCollapsed {
  height: 168px; // See #258 - remove this line if return to progressive enhancement approach

  &:after {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba($brand_beige, 0) 0%, rgba($brand_beige, 1) 100%);
    content: ' ';
  }

  .filter-form__submit {
    display: none;
  }
}

.filter-form__expander {
  @extend %roboto_bold;
  position: absolute;
  bottom: 0;
  z-index: 30;
  padding-top: 20px;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}

.filter-form__fieldset {
  margin: 0;
  border: none;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;

  &#age {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  &#target_audience {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  &#exclusive_gender {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  &#contact_type {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
}

.filter-form__fieldset__headline {
  @extend %roboto_bold;
  margin: 0 0 5px;
  color: $brand_brown;
  font-weight: normal;
  font-size: 14px;
}

.filter-form__checkboxes-wrapper {
  margin-left: 19px;

  // @TODO: delete
  label[for="contact_type_personal"] + & {
    display: none;
  }
}

.filter-form__checkbox-wrapper {
  position: relative;

  input[disabled] {
    & + label {
      opacity: .33;
    }
  }
}

.filter-form__select {
  max-width: 100%;
}


[type="submit"].filter-form__submit {
  @extend %clarat_rounding_end;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 40;
  padding: 10px 15px 10px 30px;
  min-height: 40px;
  width: 25%;
  width: calc(25% + 13px);
  background: $brand_brown image-url('ico_search.svg') no-repeat 12px center;
  background-size: 20px 20px;
}

#advanced_search_form_language_filter,
.filter-form__select {
  width: 100%;
}

.filter-form__radio,
.filter-form__checkbox-wrapper {
  position: relative;
  display: block;
  margin-bottom: 2px;

  label {
    position: relative;
    display: inline-block;
    margin: 0 0 3px 19px;
    font-size: 12px;
  }

  input {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.filter-form__radio,
.filter-form__label {
  
  label {
    cursor: pointer;
  }
}

.filter-form__switch {
  @extend %roboto_bold;
  position: relative;
  display: block;
  padding: 0 15px;
  width: 100%;
  height: 30px;
  background: $brand_blue image-url('ico_fieldset_expand--ondark.svg') no-repeat calc(100% - 15px) center;
  color: $brand_white;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;

  &[aria-collapsed="false"] {
    margin-bottom: 20px;
    background: $brand_blue image-url('ico_fieldset_expand--ondark.svg') no-repeat calc(100% - 15px) center;
  }

  &[aria-collapsed="true"] {
    margin-bottom: 0;
    background: $brand_blue image-url('ico_fieldset_collapse--ondark.svg') no-repeat calc(100% - 15px) center;
  }
}

