// ---------------------------------------------------------------
//
//  Main search on startpage and in header on non-start pages
//
// ---------------------------------------------------------------

#new_search_form {
  @extend %clearfix;
  -js-display: flex;
  display: flex;
  padding: 29px 25px 0;
  list-style: none;

  body.ar & {
    padding: 29px 15px 0 15px;
  }

  .input {
    &.string {
      flex: 1;
      position: relative;

      body.ar & {
        float: right;
      }
    }
  }

  label.string {
    @extend %roboto_bold;
    position: absolute;
    bottom: 10px;
    left: 14px;
    z-index: 30;
    font-size: 20px;

    body.ar & {
      right: 14px;
      left: auto;
    }

    body.refugees & {
      color: $brand_core_refugees;
    }

    body.family & {
      color: $brand_core_family;
    }

    abbr[title="required"] {
      @extend %visually-hidden;
    }
  }

  .search-form--input-wrapper {
    flex: 1;
    -js-display: flex;
    display: flex;

    .template--pages-home & {
      -js-display: flex;
      display: flex;
    }
  }

  .template--pages-home & {
    -js-display: flex;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0;
    max-width: 85%;

    #search_form_query,
    #search_form_search_location,
    .main-search__submit {
      display: inline-block;
      height: 50px;
    }

    #search_form_query,
    #search_form_search_location {
      max-width: 100%;
    }
  }

}

.template--pages-home {
  &.ar {
    #new_search_form {
      padding-right: 0;
    }
  }
}

#search_form_query,
#search_form_search_location {
  margin-right: 10px;
  padding: 0 15px 0 15px;
  width: calc(100% - 10px);
  background: $brand_white;
  font-size: 20px;
  line-height: 47px;
  box-sizing: border-box;

  // explicit definition and using important to override twitter-typeahead
  &:focus {
    background: $brand_beige !important;
  }

  body.ar & {
    margin-left: 10px;
    margin-right: 0;
  }
}

#search_form_query,
#search_form_search_location,
.main-search__submit {
  float: left;
  height: 47px;

  //body.ar & {
  //  float: right;
  //}
}

#search_form_query {
  //max-width: 328px;
  padding-left: 62px;

  body.en & {
    padding-left: 68px;
  }

  body.tr & {
    padding-left: 48px;
  }

  body.pl & {
    padding-left: 45px;
  }

  body.ar & {
    padding-right: 48px;
    padding-left: 14px;
  }
}

#search_form_query,
#search_form_search_location {
  .template--pages-home & {
    width: calc(100% - 10px);
  }
}

#search_form_search_location {
  padding-left: 52px;
  border-radius: 0;

  body.en & {
    padding-left: 79px;
  }

  body.tr & {
    padding-left: 83px;
  }

  body.fr & {
    padding-left: 44px;
  }

  body.pl & {
    padding-left: 72px;
  }

  body.ar & {
    padding-right: 47px;
    padding-left: 14px;
  }
}

.main-search__submit {
  display: block;
  width: 75px;
  background: $brand_brown image-url('ico_search.svg') no-repeat center center;
  color: transparent;
  text-shadow: none;
  font: 0/0 a;
}

#search_form_query {
  @extend %clarat_rounding_start;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;

  body.ar & {
    border-top-left-radius: 0; // reset
    @extend %clarat_rounding_end;
    margin-left: 10px;
    margin-right: 0;
  }
}

.main-search__submit {
  @extend %clarat_rounding_end;

  body.ar & {
    border-bottom-right-radius: 0; // reset
    @extend %clarat_rounding_start;
  }
}

.main-search__advanced-filter {
  font-size: 18px;
  color: $brand_brown;
  text-decoration: none;
  padding-left: 30px;
  background: no-repeat left center;
  margin-left: 25px;
  margin-top: 8px;

  body:not(.template--offers-index) & {
    display: none;
  }

  body.refugees &,
  body.family & {
    background-color: transparent;
  }

  body.ar & {
    padding-right: 15px;
  }

  &[aria-expanded="false"] {
    background-image:  image-url('ico_advsearch_expand.svg');
  }

  &[aria-expanded="true"] {
    background-image:  image-url('ico_advsearch_collapse.svg');
  }

}

.main-search__advanced-filter--within-content-main {
  display: none;
}

