// ---------------------------------------------------------------
//
//  Newsletter subscribe form
//
// ---------------------------------------------------------------

.newsletter-subscribe {

  div {
    display: inline-block;
  }

  label[for="subscription_email"] {
    @extend %visually-hidden;
  }

}

.newsletter-subscribe__input,
.newsletter-subscribe__submit {
  min-height: 40px;
}

input.newsletter-subscribe__input {
  @extend %clarat_rounding_start;
  background: $brand_white;
  width: 200px;
  margin-right: 10px;
  padding: 0 10px;

  html[dir="rtl"] & {
    border-radius: 0;
  }
}

.newsletter-subscribe__submit {
  padding: 0 15px;
  font-size: 14px;

  html[dir="rtl"] & {
    @extend %clarat_rounding_start;
  }

  body.template--pages-section_choice[data-section="refugees"] &,
  body.template--pages-section_choice[data-section="family"] & {
    background-color: $brand_brown;
  }
}
