// ---------------------------------------------------------------
//
//  Newsletter subscribe form
//
// ---------------------------------------------------------------

.newsletter-subscribe {

  div {
    display: inline-block;
  }

  label[for="subscription_email"] {
    @extend %visually-hidden;
  }

}

.newsletter-subscribe__input,
.newsletter-subscribe__submit {
  min-height: 32px;
}

input.newsletter-subscribe__input {
  @extend %clarat_rounding_start;
  background: $brand_white;
  width: 200px;
  margin-right: 4px;
  padding: 0 10px;

  html[dir="rtl"] & {
    border-radius: 0;
  }
}

.newsletter-subscribe__submit {
  padding: 0 15px;

  html[dir="rtl"] & {
    @extend %clarat_rounding_start;
  }
}
