// ---------------------------------------------------------------
//
//  Newsletter subscribe form
//
// ---------------------------------------------------------------

.newsletter-subscribe {
  margin-top: 22px;

  div {
    display: inline-block;
  }

  label {
    @extend .sr-only;
  }

}

.newsletter-subscribe__input,
.newsletter-subscribe__submit {
  min-height: 32px;
}

input.newsletter-subscribe__input {
  @extend %clarat_rounding_start;
  background: $brand_white;
  width: 230px;
  margin-right: 4px;
  padding: 0 10px;

  body.ar & {
    border-radius: 0;
  }
}

.newsletter-subscribe__submit {
  padding: 0 15px;

  body.ar & {
    @extend %clarat_rounding_start;
  }
}
