// ---------------------------------------------------------------
//
//  Newsletter subscribe form
//
// ---------------------------------------------------------------

.newsletter-subscribe {
	margin-top: 22px;
}

.newsletter-subscribe__input,
.newsletter-subscribe__submit {
	height: 32px;
}

.newsletter-subscribe__input {
	@extend %clarat_rounding_start;
	width: 230px;
	margin-right: 4px;
	padding: 0 10px;
}

.newsletter-subscribe__submit {
	padding: 0 15px;
}