<div class='Listing-results'>
  <div class='Listing-results__pending-ajax'>
    <h2>
      {{error}}
    </h2>
    <i class='fa fa-exclamation-triangle'></i>
    <p>
      {{message}}
    </p>
  </div>
</div>
