// ---------------------------------------------------------------
//
//  Section styles individual to single offer pages
//
// ---------------------------------------------------------------

.template--offers-show, .template--previews-show_offer {

  .section-content--internet-presence .section-content__title {
    background: $brand_grey;
  }

  .section-content--where .section-content__title {
    background: $brand_brown;
  }

  .section-content--whos-offering .section-content__title {
    background: $brand_green;
  }

  .section-content--when .section-content__title {
    background: $brand_green;
  }

  .section-content--what {

    ul {
      margin: .66em 0;
    }

    li {
      margin-left: 20px;
    }
  }

  .section-content--categories {
    background: transparent;
  }

  tr.section-content--opening-hours > td {
    padding-bottom: 0.5em;
  }

  .section-content--openingspecification {
    li {
      margin-left: 20px;
    }
  }

  .section-content--contact-person-list {
    li {
      margin-left: 25px;
      list-style-type: square;
      line-height: 1.65;
    }
  }

  .page-detail__header {
    position: relative;
  }

  .page-detail__icons {
    position: absolute;
    top: 0;
    right: 0;

    img {
      margin-left: 10px;
      height: 60px;
    }
  }

  .page-detail__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: no-repeat right bottom;
    background-size: 60px 60px;

    &.page-detail__icon--e-crisis {
      background-image: image-url('picto_crisis.svg');
    }

    &.page-detail__icon--c-learn {
      background-image: image-url('picto_learn.svg');
    }

    &.page-detail__icon--a-family {
      background-image: image-url('picto_family.svg');
    }

    &.page-detail__icon--b-health {
      background-image: image-url('picto_health.svg');
    }

    &.page-detail__icon--d-violence,
    &.page-detail__icon--e-habitation, {
      // ToDo: Removes
      background-image: image-url('picto_violence.svg');
    }
  }

  .offer-contribute {
    border-color: $brand_yellow;
  }

  .offer-location-name {
    font-weight: bold;
    margin-top: .5em;
  }

  .adr {
    margin: .25em 0;
  }

  .offer-updated-at {
    color: $brand_blue
  }

}
