// ---------------------------------------------------------------
//
//  Section styles individual to single offer pages
//
// ---------------------------------------------------------------

.template--offers-show {

  .section-content--organisation .section-content__title {
    background: $brand_green;
  }

  .section-content--where .section-content__title {
    background: $brand_brown;
  }

  .section-content--what {
    li {
      margin-left: 20px;
    }
  }

  .section-content--categories {
    background: transparent;
  }

  .section-content--openinghours {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .page-detail__header {
    position: relative;
  }

  .page-detail__icons {
    position: absolute;
    top: 0;
    right: 0;

    img {
      margin-left: 10px;
      height: 60px;
    }
  }

  .page-detail__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: no-repeat right bottom;
    background-size: 60px 60px;

    &.page-detail__icon--e-crisis {
      background-image: image-url('picto_crisis.svg');
    }

    &.page-detail__icon--c-learn {
      background-image: image-url('picto_learn.svg');
    }

    &.page-detail__icon--a-family {
      background-image: image-url('picto_family.svg');
    }

    &.page-detail__icon--b-health {
      background-image: image-url('picto_health.svg');
    }

    &.page-detail__icon--d-violence,
    &.page-detail__icon--e-habitation, {
      // ToDo: Removes
      background-image: image-url('picto_violence.svg');
    }
  }

  .offer-contribute {
    border-color: $brand_yellow;
  }

}
