// ---------------------------------------------------------------
//
//  Generic styles for sections on page-detail subpages
//
// ---------------------------------------------------------------

// Layout wrappers

.section-wrapper-major {
  @extend %layout-col-69;
  margin-right: 2.5%;
}

.section-wrapper-minor {
  @extend %layout-col-29;
}

.section-wrapper-major,
.section-wrapper-minor {
  margin-bottom: 40px;
}

// Boxes and their sub-elements

.section-content {
  @extend %clarat_rounding_start;
  margin-bottom: 30px;
  width: 100%;
  background: $brand_beige;
}

.section-content--map {
  margin-bottom: 25px;
}

.section-content--contact {
  width: 100%
}

.section-content__title {
  @extend %roboto_bold;
  @extend %clarat_rounding_start;
  margin-bottom: 0;
  padding: 7px 15px;
  background: $brand_yellow;
  color: $brand_white;
  font-weight: 700;
  font-size: 20px;

  .section-content--nextsteps &,
  .section-content--what &,
  .section-content--who &,
  .section-content--alloffers & {
    position: relative;
    padding-right: 70px;

    body.ar & {
      padding-left: 70px;
      padding-right: 15px;
    }
  }
}

.section-content__body {
  padding: 15px;
  line-height: 1.68;

  p {
    margin: 0;
  }

  .day {
    padding-right: 5px;
  }
}

.section-content__body--offers-of-orga {
  padding-top: 0;
  padding-bottom: 0;
}

.section-content__langlist {
  list-style: none;
  line-height: 1.65;
}

.section-content__wrapper {
  margin: 15px;
  overflow: hidden;

  &.is-expanded {
    height: auto !important; // Override JS
  }
}

.section-content__toggle {
  display: none;
  width: 100%;
  cursor: pointer;
  min-height: 30px;
  line-height: 27px;
  padding-bottom: 15px;
  background-position: 15px center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
    top: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: image-url('ico_fieldset_expand--ondark.svg');
    background-position: center 82%;
    background-repeat: no-repeat;
    background-size: 15px auto;
  }

  .is-expanded + & {

    &::after {
      background-image: image-url('ico_fieldset_collapse--ondark.svg');
    }

  }
}

.offer-contribute {
  @extend %clarat_rounding_end;
  @extend %roboto_regular;
  text-align: left;
  background: transparent;
  color: $brand_brown;
  width: auto;

}
