// ---------------------------------------------------------------
//
//  Presenting team members
//
// ---------------------------------------------------------------

.section-team {
  @include clearfix;
  margin: 40px 0 30px -.33%;
}

.section-team__member {
  position: relative;
  float: left;
  margin: 0 0 2.5% 1.33%;
  padding-top: 30px;
  width: 24%;
  min-height: 644px;
  background: $brand_beige;

  body.ru & {
    min-height: 690px;
  }

  &:nth-of-type(4n+1) { // every fourth item, starting at first
    margin-left: 0;
  }

  &:first-of-type {
    @include clarat_rounding_start;

    .section-team__name {
      @include clarat_rounding_start;
    }
  }

  .section-team__name {
    @include roboto_bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 30px;
    background: $brand_green;
    color: $brand_white;
    content: '';
    font-size: 20px;
    padding:  0 30px;
    font-weight: 400;
    vertical-align: middle;
  }



  &:last-of-type {
    @include clarat_rounding_end;
  }

  p {
//    min-height: 15em;
    padding: 0px 22px;
    margin-top: 0px;
  }
}

.section-team__profile {
  margin-bottom: 15px;
  width: 100%;
}
