// ---------------------------------------------------------------
//
//  Presenting team members
//
// ---------------------------------------------------------------

.section-team {
  @extend %clearfix;
  margin: 40px 0 30px -.5%;
}

.section-team__member {
  position: relative;
  float: left;
  margin: 0 1% 2.5% 0;
  padding-top: 30px;
  width: 24%;
  background: $brand_beige;

  &:first-of-type:after {
    @extend %clarat_rounding_start;
  }

  .section-team__name {
    @extend %roboto_bold;
    @extend %clarat_rounding_start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 30px;
    background: $brand_green;
    color: $brand_white;
    content: '';
    font-size: 20px;
    padding:  0 30px;
    font-weight: 400;
    vertical-align: middle;
  }



  &:last-of-type {
    @extend %clarat_rounding_end;
  }

  p {
    min-height: 15em;
    padding: 0px 22px;
    margin-top: 0px;
  }
}

.section-team__profile {
  margin-bottom: 15px;
  width: 100%;
}
