// ---------------------------------------------------------------
//
//  Section styles individual to single organisation pages
//
// ---------------------------------------------------------------

.template--organizations-show {


  .section-content--who .section-content__title,
  .section-content--where .section-content__title {
    background: $brand_green;
  }

  .section-content--what {
    li {
      margin-left: 20px;
    }
  }

  .offer-contribute {
    border-color: $brand_green;
  }

  .offer-location-name {
    font-weight: bold;
  }
}
