// ---------------------------------------------------------------
//
//  Section styles individual to single offer pages
//
// ---------------------------------------------------------------

.template--offers-show, .template--previews-show_offer {

  .section-content--internet-presence .section-content__title {
    background: $brand_green;
  }

  .section-content--where .section-content__title {
    background: $brand_brown;
  }

  .section-content--whos-offering .section-content__title {
    background: $brand_green;
  }

  .section-content--when .section-content__title {
    background: $brand_green;
  }

  .section-content--speaking {
    @extend %clearfix;
    padding: 0;

    .section-content__title {
      background: $brand_green;
    }
  }

  .section-content--more-info {
    @extend %clearfix;

    .section-content__title {
      background: $brand_green;
    }
  }

  .section-content__tag-list {
    @extend %clearfix;
    list-style: none;
    margin: 4px 15px 10px;

    li {
      border-radius: 5px 0;
      float: left;
      display: inline-block;
      padding: 5px 3px 7px 7px;
      border: 1px solid;
      margin: 6px 6px 0 0;
      font-size: 82.5%;

      .fa {
        margin-right: 3px;
        margin-left: 1px;
      }
    }
  }

  .section-content--what {

    ul {
      margin: .66em 0;
    }

    li {
      margin-left: 20px;
    }
  }

  .section-content--categories {
    background: transparent;
  }

  tr.section-content--opening-hours > td {
    padding-bottom: 0.5em;
  }

  .section-content--openingspecification {
    li {
      margin-left: 20px;
    }
  }

  .section-content--contact-person-list {
    li {
      margin-left: 25px;
      list-style-type: square;
      line-height: 1.65;
    }
  }

  &.ar  {

    .section-content--contact-person-list {
      li {
        margin-right: 25px;
        margin-left: 0;
      }
    }

    .page-detail__stamp {
      background-position: right center;
      padding-right: 25px;
    }

  }

  .page-detail__header {
    position: relative;
  }

  .page-detail__title {
    font-weight: 700;
  }

  .page-detail__icons {
    position: absolute;
    top: 0;
    right: 0;

    img {
      margin-left: 10px;
      height: 60px;
    }
  }

  .page-detail__stamp {
    background: transparent image-url('ico_user.svg') no-repeat 0 5px;
    padding: 4px 4px 0 25px;
    background-size: auto 20px;
    line-height: 1.8;
    margin-bottom: 10px;

  }


  .page-detail__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: no-repeat right bottom;
    background-size: 60px 60px;

    &.page-detail__icon--e-crisis {
      background-image: image-url('picto_crisis.svg');
    }

    &.page-detail__icon--c-learn {
      background-image: image-url('picto_learn.svg');
    }

    &.page-detail__icon--a-family {
      background-image: image-url('picto_family.svg');
    }

    &.page-detail__icon--b-health {
      background-image: image-url('picto_health.svg');
    }

    &.page-detail__icon--d-violence,
    &.page-detail__icon--e-habitation {
      // ToDo: Removes
      background-image: image-url('picto_violence.svg');
    }
  }

  .offer-contribute {
    border-color: $brand_yellow;
  }

  .offer-location-name {
    font-weight: bold;
    margin-top: .5em;
  }

  .adr {
    margin: .25em 0;
  }

  .offer-updated-at {
    color: $brand_blue
  }

}
