// ---------------------------------------------------------------
//
//  Special type of sections: start page teasers
//
// ---------------------------------------------------------------

.section-start {
  @extend %layout-col-33;
  position: relative;
  margin-bottom: 68px;

  &:after {
    @extend %clarat_rounding_end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    content: '';

    body.refugees & {
      background: $brand_core_refugees;
    }

    body.family & {
      background: $brand_core_family;
    }
  }
}

.section-start__headline {
  @extend %roboto_bold;
  @extend %clarat_rounding_start;
  position: relative;
  margin-bottom: 0;
  min-height: 45px;
  color: $brand_white;
  font-weight: 700;
  font-size: 24px;
  padding: 9px 30px;

  // For visual consistency, avoiding two line headline on desktop
  body.fr & {
    font-size: 22px;
  }

  body.refugees & {
    background-color: $brand_core_refugees;
  }

  body.family & {
    background-color: $brand_core_family;
  }
}

.section-start__body {
  @extend %clarat_rounding_end;
  padding: 26px 30px 52px;
  min-height: 320px;
  background: $brand_beige;

  p {
    margin: 0;
  }
}

.section-start--why {
  @extend %layout-col-last;
}
