// ---------------------------------------------------------------
//
//  Clarat main css file
//
// ---------------------------------------------------------------

@import "config/variables";
@import "config/helpers";
@import "config/mixins";

@import "base/normalize";
@import "base/typography";
@import "base/base";
@import "base/layout";
@import "base/header";
@import "base/footer";
@import "base/aside";
@import "base/states";

@import "modules/logo";
@import "modules/claim";
@import "modules/distributor";
@import "modules/social-media";
@import "modules/mascot";
@import "modules/listing-results";
@import "modules/listing-categories";
@import "modules/listing-offers";
@import "modules/listing-offers";
@import "modules/listing-organizations";
@import "modules/map";
@import "modules/popup-content";
@import "modules/flash-message";

@import "modules/sections/section-content";
@import "modules/sections/section-start";
@import "modules/sections/section-offer";
@import "modules/sections/section-organisation";
@import "modules/sections/section-team";

@import "form/base";
@import "form/main-search";
@import "form/newsletter-subscribe";
@import "form/contact-form";

@import "navigation/nav-sections";
@import "navigation/nav-site";
@import "navigation/nav-legal";
@import "vendor/pagination";

@import "mediaqueries/config";

@import "vendor/twitter-typeahead_override";
@import "vendor/places-autocomplete_override";
@import "vendor/formtastic";
