// ---------------------------------------------------------------
//
//  Icon based nav on start page, inside distributor
//
// ---------------------------------------------------------------

.nav-sections {
	@extend %clearfix;
	position: relative;
	z-index: 30;
	margin: 0 auto;
	padding-top: 30px;
	max-width: 750px;
}

.nav-sections__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-sections__headline {
	@extend %roboto_bold;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
}

.nav-sections__listitem {
	@extend %roboto_bold;
	position: relative;
	float: left;
	margin: 0 22px;
	width: 105px;
	height: 110px;
	text-align: center;
	font-size: 18px;

	a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		padding-top: 110px;
		color: $brand_brown;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}


}

.nav-sections__listitem--a-crisis {
	background: image-url('picto_crisis.svg') no-repeat center top;
	background-size: 105px 105px;
}

.nav-sections__listitem--b-learn {
	background: image-url('picto_learn.svg') no-repeat center top;
	background-size: 105px 105px;
}

.nav-sections__listitem--c-family {
	background: image-url('picto_family.svg') no-repeat center top;
	background-size: 105px 105px;
}

.nav-sections__listitem--d-health {
	background: image-url('picto_health.svg') no-repeat center top;
	background-size: 105px 105px;
}

.nav-sections__listitem--e-habitation, // ToDo: Remove habitation icon reference
.nav-sections__listitem--e-violence {
	background: image-url('picto_violence.svg') no-repeat center top;
	background-size: 105px 105px;
}