.nav-lang {
  color: $brand_coal;
  font-size: 15px;
  min-height: 44px;
  position: absolute;
  right: 0;

  [dir="rtl"] & {
    right: auto;
    left: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    margin: 0 9px;
  }
}

.nav-lang__title {
  @extend %roboto_bold;
  font-size: 18px;
  font-weight: normal;
  line-height: 44px;
  min-height: 44px;
  margin: 0;
  float: left;
  max-width: 50%;
  background: image-url('welcome-language.svg') no-repeat left 0;
  background-size: auto 60px;
  padding-left: 50px;

  body.en &,
  body.fr &,
  html[dir="rtl"] &,
  body.tr &,
  body.pl &,
  body.ru & {
    background: image-url('ico_triangle.svg') no-repeat left 5px;
    background-size: 32px 32px;
    padding-left: 36px;
  }
}

.nav-lang__container {
  padding-right: 85px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

a.nav-lang__google {
  float: right;
  width: 60px;
  height: auto;
  margin: 8px 0 4px 20px;

  img {
    width: inherit;
    height: auto;
  }
}

button.nav-lang__button {
  background: image-url('ico_weltkugel.svg') no-repeat left center;
  width: 25px;
  height: 25px;
  float: left;
  margin: 9px 5px 10px 0;
  cursor: default;

  body.family &,
  body.refugees & {
    background-color: transparent;
  }
}

.nav-lang__languages {
  float: right;
}

.nav-lang__list {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
  line-height: 44px;

  li {
    margin: 0;
    padding: 0;
    float: left;
  }

}

.nav-lang__list--vertical {
  display: block !important; // override JS
  position: absolute;
  top: 44px;
  z-index: 400;
  background: $brand_coal;
  color: white;
  padding: 4px 0 10px;

  [dir="rtl"] & {
    left: 0;
  }


  li {
    float: none;
    padding: 0 11px;
    line-height: 30px;
  }
}

.nav-lang__listitem--active {
  @extend %roboto_black;

  body.ru & {
    font-weight: 700;
  }
}
