// ---------------------------------------------------------------
//
//  Site nav in footer
//
// ---------------------------------------------------------------

.nav-site {
  float: right;
  padding: 15px 15px 15px;

  html[dir="rtl"] & {
    float: left;
  }
}

.nav-site__list {
  list-style: none;
}

.nav-site__listitem {
  @extend %roboto_bold;
  text-align: left;
  font-size: 18px;
  line-height: 30px;

  a {
    color: $brand_white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .JS-tooltip {
    line-height: 15px;
  }
}

.nav-site__listitem--facebook-family {
  body.refugees & a {
    display: none;
  }
}

.nav-site__listitem--facebook-refugees {
  body.family & a {
    display: none;
  }
}

.nav-site__listitem--facebook-family,
.nav-site__listitem--facebook-refugees {
  a {
    display: block;
    padding-left: 27px;
    background-size: contain;
    background: image-url('ico_facebook.svg') no-repeat left center;
  }
}
