// ---------------------------------------------------------------
//
//  Icon based nav on start page, inside distributor
//
// ---------------------------------------------------------------

.nav-sections {
  @extend %clearfix;
  position: relative;
  z-index: 30;
  margin: 0 auto;
  padding-top: 30px;
}

.nav-sections__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -js-display: flex; // polyfill rule
  display: flex;
  justify-content: space-between;
}

.nav-sections__headline {
  @extend %roboto_bold;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.nav-sections__listitem {
  @extend %roboto_bold;
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  text-align: center;
  font-size: 18px;
  word-wrap: break-word;

  // For visual consistency, avoiding multi line on desktop

  body.pl & {
    font-size: 16px;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-top: 138px;
    color: $brand_brown;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


}


// Legal: only in refugees

$dimension: 130px;

.nav-sections__listitem--a-legal {
  background: image-url('picto_legal.svg') no-repeat center top;
  background-size: $dimension $dimension;
}

.nav-sections__listitem--b-family {
  background: image-url('picto_family.svg') no-repeat center top;
  background-size: $dimension $dimension;

  body.family & {
    background-image: image-url('picto_family--family.svg')
  }
  body.refugees & {
    background-image: image-url('picto_family--refugees.svg')
  }
}

.nav-sections__listitem--c-health {
  background: image-url('picto_health.svg') no-repeat center top;
  background-size: $dimension $dimension;

  body.refugees & {
    background-image: image-url('picto_health--refugees.svg')
  }

  body.family & {
    background-image: image-url('picto_health--family.svg')
  }
}

.nav-sections__listitem--d-learn {
  background: image-url('picto_learn.svg') no-repeat center top;
  background-size: $dimension $dimension;

  body.refugees & {
    background-image: image-url('picto_learn--refugees.svg')
  }

  body.family & {
    background-image: image-url('picto_learn--family.svg');
  }
}


.nav-sections__listitem--e-misc {
  background: image-url('picto_everydaylife.svg') no-repeat center top;
  background-size: $dimension $dimension;

  body.refugees & {
    background-image: image-url('picto_everydaylife--refugees.svg');
  }

  body.family & {
    background-image: image-url('picto_everydaylife--family.svg');
  }
}

.nav-sections__listitem--f-violence {
  background: image-url('picto_violence.svg') no-repeat center top;
  background-size: $dimension $dimension;


  body.family & {
    background-image: image-url('picto_violence--family.svg');
  }
  body.refugees & {
    background-image: image-url('picto_violence--refugees.svg');
  }
}

.nav-sections__listitem--g-crisis {
  background: image-url('picto_crisis.svg') no-repeat center top;
  background-size: $dimension $dimension;

  body.family & {
    background-image: image-url('picto_crisis--family.svg');
  }
  body.refugees & {
    background-image: image-url('picto_crisis--refugees.svg');
  }
}
