.nav-off-canvas-trigger {
  -js-display: flex;
  display: flex;
  list-style: none;
  margin: -10px -20px 0;
  padding: 0;
}

.nav-off-canvas-trigger__item {
  flex: 1;
}

.nav-off-canvas-trigger__icon {
  body.refugees & {
    color: $brand_core_refugees;
  }

  body.family & {
    color: $brand_core_family;
  }
}

.fa.nav-off-canvas-trigger__icon,
.nav-off-canvas-trigger__label {
  font-size: 16px;
}

.nav-off-canvas-trigger__label {
  pointer-events: none;
}
