/ TODO: used? can be removed?
/ .about-teaser
/   .about-background.yellow-background
/     .about-text
/       | Angebote der Kinder- und
/   br
/   .about-background.yellow-background
/     .about-text
/       | Jugendhilfe so einfach finden wie nie
