/ General JS Setup
javascript:
  // Namespace
  Clarat = { Search: {} }

  // Algolia
  Clarat.Search.appID = "#{Rails.application.secrets.algolia['app_id']}";
  Clarat.Search.apiKey = "#{Rails.application.secrets.algolia['pub_key']}";
  Clarat.Search.personalIndexName = "#{Offer.personal_index_name}";
  Clarat.Search.remoteIndexName = "#{Offer.remote_index_name}";
