/ General JS Setup
javascript:
  // Namespace
  window.Clarat = {
    // Algolia
    Algolia: {
      appID: "#{Rails.application.secrets.algolia['app_id']}",
      apiKey: "#{Rails.application.secrets.algolia['pub_key']}",
      personalIndexName: "#{Offer.personal_index_name(I18n.locale)}",
      remoteIndexName: "#{Offer.remote_index_name(I18n.locale)}"
    }
  };
