// ---------------------------------------------------------------
//
//  Central mediaquery config
//
// ---------------------------------------------------------------

@mixin breakpoint($point) {
	@if $point == XL {
		@media (max-width: 1200px) { @content; }
	}
	@if $point == L {
		@media (max-width: 900px) { @content; }
	}
	@if $point == M {
		@media (max-width: 680px) { @content; }
	}
	@if $point == S {
		@media (max-width: 440px) { @content; }
	}
}

@mixin mqindicator($mqname) {
	body:before {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000 !important;
		display: inline-block;
		padding: 5px 10px;
		background: red;
		color: #fff;
		content: $mqname;
	}
}

@import "xl";
@import "l";
@import "m";
@import "s";
