// ---------------------------------------------------------------
//
//  Breakpoint L
//
// ---------------------------------------------------------------

@include breakpoint(L) {

  @include mqindicator('L');

  // Header ######################################

  .header-main--wide {
    height: 375px; // smaller height, @ToDo refactoring into container with a certain ratio by paddding-bottom: 39.5833333%
  }

  .Claim {
    max-width: 40%;
  }

  .Claim__firstrow {
    font-size: 24px;
  }

  .Claim__secondrow {
    font-size: 18px;
  }

  .mascot--header {
    display: none;
  }

  .mascot--footer {
    bottom: 0; // remove once faq link comes back
  }

  .Distributor {
    margin-right: -25px; // on non-start pages, correcting offset by .wrapper-inner
    max-width: 440px;
    width: 440px;
  }

  .Distributor--start {
    margin-bottom: 50px;
    height: auto;
    max-width: 100%;
    width: 100%;
    zoom:1;

    &:before, &:after {
      display: block;
      overflow: hidden;
      height: 0;
      content: "";
    }

    &:after {
      clear: both;
    }
  }

  #new_search_form {
    width: 435px;

    .tt-dropdown-menu {
      margin-right: 0;
    }

    #search_form_query,
    #search_form_search_location {
      max-width: 165px;

      .template--pages-home & {
        width: auto;
        max-width: none;
      }
    }


    .template--pages-home & {
      max-width: 710px;
      width: auto;

      .input {
        &.search_form_query {
          margin-right: 10px;
        }
      }

      #search_form_query {
        width: 100%; // to fit in its twitter-typeahead container
      }
    }
  }

  .main-search__submit {
    width: 11%;
  }

  .nav-sections {
    padding: 30px 0;
    width: 100%;
    max-width: 100%;
    background-size: contain; // in order not to cut/stretch pictograms
  }

  .nav-sections__listitem {
    height: auto;
    width: 18%;
    margin: 0 1%;

    a {
      position: relative;
    }
  }


  // Content ######################################

  .section-wrapper-major,
  .section-wrapper-minor,
  .aside-standard { // clearing floats, one column layout
    display: block;
    float: none;
    margin-right: 0;
    width: auto;
  }

  .aside-standard {
    width: 27%;
  }

  .content-main {
    padding-bottom: 0;
  }

  .section-start {
    margin: 0 0 20px;
    width: auto;
  }

  .section-start__body {
    min-height: 0;
  }

  .section-start {
    &:after {
      height: 18px;
    }
  }

  .section-team__member {
    width: 32%;
    margin-left: 1.8%;
    min-height: 640px;

    &:nth-of-type(4n+1) { // reset
      margin-left: 1.8%;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

  }

  .Listing-results {
    min-height: 0;
  }

  .Listing-results__headline {
    .search-string {
      max-width: 70%
    }
  }

  .filter-form {
    .col-form-wrapper {
      display: block;
    }

    .col-form-inner {
      display: inline-block;
      width: 50%;
      float: left;
    }
  }

  .filter-form--isCollapsed {
    padding-bottom: 40px;
  }

  .filter-form__submit {
    font-size: 13px;
  }

  [type="submit"].filter-form__submit,
  .filter-form__expander {
    width: 50%;
  }


  // Footer ######################################

  .footer-main {
    padding-top: 80px;
  }

  .footer-main__firstrow {
    height: auto;
  }

  .Social-media {
    margin-bottom: 20px
  }

  .newsletter-subscribe__submit {
    border-bottom-right-radius: 10px; // since extends do not work here
    width: 230px;
  }
}
