// ---------------------------------------------------------------
//
//  Breakpoint M
//
// ---------------------------------------------------------------

@include breakpoint(M) {

  @include mqindicator('M');

  // Header ######################################

  .Banner {
    min-height: 30px;
    line-height: 22px;
  }

  .Banner__text {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  .Banner__text,
  .Banner__link {
    font-size: 12px;
  }

  .Logo--start {
    body.refugees &.Logo,
    body.family &.Logo { // Specifity
      margin: 0 0 45px 0;
      height: 64px;
      width: 180px;
      background-size: 180px 64px;
    }
  }

  .Claim {
    display: block;
    float: none;
    clear: both;
    margin-top: 0;
    max-width: 60%;
  }

  .header-main {
    height: auto;
    min-height: 116px;
    margin-bottom: 0;

    .wrapper-inner {
      padding: 0;

      .template--pages-home & {
        padding: 0 20px;
      }
    }
  }

  .header-main--wide {
    height: 320px;
  }

  body.family,
  body.refugees {
    .Logo--start {
      background-size: 180px 40px;
    }
  }

  .Logo {
    margin-bottom: 15px;
    position: absolute;
    top: 14px;
    z-index: 20;
    margin-top: 5px;
    margin-left: 15px;
    width: 160px;
    height: 64px;

    &,
    body.refugees &, // Specifity
    body.family & { // Specifity
      background-size: 160px 64px;
      margin-right: 15px;
      margin-left: 0;
    }

  }

  .Logo--start {
    position: relative;
    bottom: auto;
    margin-top: 25px;
    margin-left: 0;
    width: 180px;
    height: 40px;
    background-image: image-url('logo.svg');
    background-size: 180px 40px;
  }

  .Claim {
    margin-top: 90px;
  }

  .Distributor {
    width: calc(100% - 190px);
    padding-bottom: 5px;
    height: auto;
    background-color: $brand_beige;

    .template--pages-home & {
      background-color: $brand_yellow;
    }

    body.refugees &,
    body.family & {
      border-top: none;
    }

  }

  .Distributor--start {
    margin-top: 0;
    position: static;
    padding-bottom: 0;
    width: 100%;
  }

  .Distributor--navigation {
    padding-bottom: 0;
    margin: 26px 0 0 0;
    max-width: 1000px;
    border-top-left-radius: 0;

    &.is-enlarged {
      // max-height: 95px;
    }

    body.ar & {
      margin-left: 0;
    }

    .JS-Geolocation__prompt {
      bottom: 35px;
      margin: 0 20% 0 0;
      padding: 5px;
      width: 80%;
    }
  }

  .Distributor__search-form {
    position: relative;
    right: auto;
    width: 100%;
  }

  .JS-Geolocation__remove {
    top: 5px;
    right: 10px;

    .Distributor--navigation & {
      top: 2px;
      right: 60px;
    }
  }

  .search-form--input-wrapper {
    position: relative;
    left: 15px;

    body.template--pages-home.ar & {
      right: 0;
    }
  }

  #new_search_form {
    position: relative;
    z-index: 30;
    display: block;
    width: auto;
    margin-right: 0;
    overflow: hidden;
    background-color: $brand_yellow;

    &,
    body.ar & {
      padding: 10px 0;
    }

    .template--pages-home & .input.string.search_form_search_location {
      margin-bottom: 10px;
    }

    .Distributor.is-enlarged & {
      //margin-left: 15px;

      .tt-dropdown-menu {
        right: 1px; // override JS
      }
    }

    .template--pages-home & {
      max-height: none;

      #search_form_query,
      #search_form_search_location {
        width: inherit;
        max-width: none;
      }

      .input.string {
        padding-right: 0;

        &.search_form_search_location {
          display: block;
        }
      }
    }

    #search_form_query,
    #search_form_search_location {
      float: none;
      max-width: none;
    }

    #search_form_search_location {
      padding-left: 40px;

      body.en & {
        padding-left: 60px;
      }

      body.pl & {
        padding-left: 54px;
      }
    }

    #search_form_query,
    #search_form_search_location {
      width: inherit;
    }

    #search_form_query {
      padding-left: 53px;

      body.pl & {
        padding-left: 34px;
      }

      body.ar & {
        padding-left: 15px;
        padding-right: 53px;
      }

      body.ar .is-enlarged & {
        border-bottom-right-radius: 0;
      }
    }

    #search_form_search_location {
      body.ar & {
        padding-left: 15px;
        padding-right: 40px;
      }

      body.ar .is-enlarged & {
        border-bottom-right-radius: $border_radius;
      }
    }

    #search_form_query,
    #search_form_search_location,
    .main-search__submit {
      .template--pages-home & {
        height: 40px;
        line-height: 40px;
      }
    }

    .main-search__submit {
      .template--pages-home & {
        width: 100%;
        background-image: none;
        color: white;
        font: inherit;
        font-size: 20px;
      }
    }

    #search_form_query,
    #search_form_search_location {
      @include input-placeholder(rgba($brand_brown, .72), 400, 16px);
      height: 35px;
      font-size: 16px;
      line-height: 35px;
    }

    .main-search__submit {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 40px;
      height: 35px;
      background-size: 60%;

      body.ar:not(.template--pages-home) & {
        right: auto;
        left: 20px;
      }

      &.is-enlarged {
        top: 10px;
        bottom: 10px;
        height: auto;
      }

      .template--pages-home & {
        position: relative;
        top: 0;
        right: auto;
      }
    }

    .input {
      &.string {
        display: block;
        padding-right: 55px;
        width: 100%;

        body.ar & {
          padding-left: 55px;
          padding-right: 0;
        }

        .template--pages-home & {
          height: 40px;
          width: 100%;
        }

        &.search_form_search_location {
          display: none;
          margin-top: 5px;

          &.is-visible {
            display: block;
          }
        }
      }
    }

    label {
      &.string {
        top: 0;
        left: 9px;
        font-size: 16px;
        line-height: 35px;

        .template--pages-home & {
          top: auto;
          bottom: 3px;
          left: 8px;
          max-height: 40px;
        }
      }
    }
  }

  body.ar {
    &.template--pages-home {
      #new_search_form {
        label {
          &.string {
            right: 8px;
            left: auto;
          }
        }

        .input {
          margin-right: 0;
          padding-left: 0;
        }
      }
    }
  }

  .main-search__advanced-filter {
    display: none;
  }

  .main-search__advanced-filter--within-content-main {
    display: block;
    font-size: 13px;
    margin: 0 -20px;
    text-align: center;
    color: $brand_white;
    cursor: pointer;
    height: 30px;
    line-height: 30px;

    body.family & {
      background-color: rgba($brand_core_family, .6);
    }

    body.refugees & {
      background-color: rgba($brand_core_refugees, .6);
    }
  }

  .nav-welt {
    top: 0;
  }

  .nav-welt--notstart {
    position: relative;
    border-bottom: 4px solid;
    display: block;
    height: 36px;

    body.refugees & {
      border-color: $brand_core_refugees;
    }

    body.family & {
      border-color: $brand_core_family;
    }
  }

  .nav-welt__list {
    width: auto;
    //margin: 0 -25px;
    display: block;

    &:first-child a {
      border-radius: 0;
    }

  }

  .nav-welt__listitem {
    min-width: 154px;
    display: inline-block;

    &:first-child {

      a {
        border-top-left-radius: 8px;
      }
    }

    a {
      width: 100%;
      border-bottom: none;
      min-width: 0;
      height: auto;
      min-height: 32px;
      font-size: 16px;
      padding: 0;
      letter-spacing: 1px;
      line-height: 32px;

      .template--pages-home & {
        height: 40px;
        line-height: 40px;
      }

      &:before {
        display: none;
      }
    }
  }

  .nav-welt--start {
    top: auto;
    left: 20px;
  }

  .filter-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .filter-form__fieldset {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;

    &#age {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }

    &#target_audience {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
    }

    &#exclusive_gender {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
    }

    &#contact_type {
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4;
    }
  }

  .Listing-results__expander {
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;

    body.ar & {
      left: 4px;
      right: auto;
    }
  }

  .Distributor__advanced-filter-trigger-wrapper {
    position: relative;
    background-color: $brand_brown;
    width: 100%;
    display: none;
    height: auto;
    text-align: center;

    .template--offers-index {
      display: block;
    }

    a {
      color: $brand_white;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }

  .nav-sections__headline {
    margin-bottom: 20px;
  }

  .nav-sections__list {
    display: block; // no need for flexbox anymore
  }

  .nav-sections__listitem {
    float: none;
    width: 100%;
    height: 60px;
    background-position: 100% top;
    background-size: contain;
    line-height: 57px; // closer to optical vertical middle

    a {
      padding: 0;
      text-align: left;
    }

    body.ar & {
      background-position: 0 top;

      a {
        text-align: right;
      }
    }
  }

  body.ar {
    .Claim {
      float: none;
    }
  }

  .nav-lang__title {
    font-size: 13px;
  }

  // Content ######################################

  .page-wrap:after {
    height: 136px;
  }

  .template--offers-show, .template--previews-show_offer {

    .page-detail__title {
      padding-right: 50px;
      font-size: 24px;

    }

    &.ar {
      .page-detail__title {
        padding-left: 50px;
        padding-right: 0;
      }
    }

    .page-detail__icon {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
  }

  .Listing-results__meta {
    background: none;
    padding: 6px;
  }

  .aside-standard__container {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .aside-standard {
    position: relative !important; // Override JS
    max-width: 100%;
  }

  .content-main,
  .Categories {
    .template--offers-index & {
      float: none;
      width: 100%;
    }
  }

  .content-main.content-main--offers-index {
    padding-left: 0;

    body.ar & {
      padding-right: 0;
      width: auto;
    }
  }

  .content-main {
    padding-top: 0;

    .template--pages-home & {
      //padding-top: 0;
    }

    &.template--pages-about {
      //padding-top: 100px;
    }

    &.content-main--invalid_location {
      //padding-top: 80px;
    }

    body[class="template--pages-"] & {
      padding-top: 68px;
    }
  }

  .Listing-results__headline {

    body.pl &,
    body.fr & {
      padding-right: 0;
    }
  }

  .Listing-results__meta {
    width: 100%;
  }

  .Listing-results__orga-display {
    border-top: 2px solid $brand_grey;
    padding-top: 4px;
  }

  .section-team__member {
    width: 49%;
    min-height: 670px;

    &:nth-of-type(4n+1) { // reset
      margin-left: 1.8%;
    }

    &:nth-of-type(3n+1) { // reset
      margin-left: 1.8%;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }

  .contact-form {
    margin-top: 22px;

    .string input,
    .email input,
    textarea,
    &.formtastic .inline-errors {
      width: 410px;
    }
  }

  .Listing-results__address,
  .Listing-results__stamp {
    clear: left;
    width: 100%;
  }

  .Listing-results__meta {
    display: none;

    &.is-expanded {
      display: block;
    }
  }

  // Footer ######################################

  .nav-site__listitem {
    font-size: 16px;
    line-height: 26px;
  }

  .mascot--footer {
    display: none;
  }

  .footer-main__firstrow {
    margin-top: 0;
  }

  .footer-main__subscribe,
  .footer-main__about {
    float: left;
    width: 100%;
  }

  .nav-site {
    float: none;
  }

  .nav-site__listitem {
    text-align: left;
  }

  // Misc ######################################

  .JS-Cookie-warning {
    font-size: 11px;
  }

  a[href^="tel"]:link,
  a[href^="tel"]:visited,
  a[href^="tel"]:hover,
  a[href^="fax"]:link,
  a[href^="fax"]:visited,
  a[href^="fax"]:hover {
    text-decoration: underline;
    pointer-events: auto;
  }

  .popup_content {
    margin: 25px; // override inline CSS caused by JS
    width: auto !important;

    p {
      font-size: 13px;
    }

    .formtastic {
      input[type="submit"],
      input[type="email"] {
        font-size: 13px;
      }
    }
  }

  a.big-map_open {
    display: none !important;
  }

  // ToDo: Refactor. Button must move to a new line on small screens in case it
  // would otherwise interfere with other content. If no new line is needed it
  // should flow right (if flow: right is used it is partly hidden).
  .more_remote-offers_open {
    position: relative !important;
  }

  .shariff-button.whatsapp {
    display: block !important;
  }

  .template--offers-index {
    #qtip-1 {
      margin-top: 0;
    }
  }

  .overlay-active .main-search__advanced-filter {
    background: #f4b528;
    padding: 0;
    margin-left: 0;
    width: 100%;
    display: block;
    top: 0;
    transform: initial;
  }

  body.refugees.overlay-active .main-search__advanced-filter {
    background: $brand_core_refugees;
  }

  body.family.overlay-active .main-search__advanced-filter {
    background: $brand_core_family;
  }

  #qtip-ttWeltFamily,
  #qtip-ttWeltRefugees {
    left: 10px !important; // override JS

    .template--offers-index & {
      top: 10px !important;
    }
  }

  #qtip-ttAdvancedSearch {
    margin-top: 50px;
  }

  .qtip-tip {
    display: none !important; // override JS
  }

}
