// ---------------------------------------------------------------
//
//  Breakpoint M
//
// ---------------------------------------------------------------

@include breakpoint(M) {

  @include mqindicator('M');

  // Header ######################################

  .Banner {
    min-height: 30px;
    line-height: 22px;
  }

  .Banner__text {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  .Banner__text,
  .Banner__link {
    font-size: 12px;
  }

  .Logo {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .Logo--start {
    margin-left: 0;
  }

  .Claim {
    display: block;
    float: none;
    clear: both;
    margin-top: 0;
    max-width: 100%;
  }

  .header-main {
    height: auto;

    .wrapper-inner {
      padding: 0;

      .template--pages-home &,
      .template--pages-about & {
        padding: 0 20px;
      }
    }
  }

  .header-main--wide {
    height: 320px;
  }

  .Distributor {
    //margin-top: 25px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    min-width: 100%;
    width: 100%;
    border-radius: 0;
  }

  #new_search_form {
    margin: 0 auto;

    .template--pages-home & {

      .twitter-typeahead {
        span.tt-dropdown-menu {
          right: 0 !important; // overriding JS
          position: relative !important;
          margin-top: 50px;
          margin-bottom: 10px;
        }
      }

      #search_form_search_location {
        margin: 0;
        width: 100%;
      }

      .twitter-typeahead {
        margin-left: 0;
        width: 100%;
      }

      .main-search__submit {
        width: 100%;
        background-image: none;
        color: $brand_white; // resetting hidden text on button
        font: inherit;
        font-size: 20px;
      }

      .input {
        &.search_form_query {
          margin-right: 0;
        }
      }

      .input.string {
        @extend %clearfix;
        display: block;
        float: none;
        width: auto;
        height: 50px;

        .input.string {
          height: auto !important;
          min-height: 40px;

          &.search_form_search_location {
          }
        }

        &.search_form_search_location {
          margin: 10px 0;
          height: 50px;
        }
      }
    }
  }

  .nav-sections__headline {
    margin-bottom: 20px;
  }


  .nav-sections__listitem {
    float: none;
    width: 100%;
    height: 60px;
    background-position: 100% top;
    background-size: contain;
    line-height: 57px; // closer to optical vertical middle

    a {
      padding: 0;
      text-align: left;
    }
  }

  // Content ######################################

  .page-wrap:after {
    height: 136px;
  }

  .template--offers-show {

    .page-detail__title {
      padding-right: 50px;
    }

    .page-detail__icon {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
  }

  .aside-standard__container {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .content-main,
  .Categories {
    .template--offers-index & {
      float: none;
      width: 100%;
    }
  }

  // Footer ######################################

  .nav-site__listitem {
    font-size: 16px;
    line-height: 26px;
  }

  .mascot--footer {
    display: none;
  }

  .footer-main__subscribe,
  .footer-main__about {
    float: left;
    width: 100%;
  }

  .nav-site {
    float: none;
  }

  .nav-site__listitem {
    text-align: left;
  }

  // Misc ######################################

  .JS-Cookie-warning {
    font-size: 11px;
  }

  a[href^="tel"]:link,
  a[href^="tel"]:visited,
  a[href^="tel"]:hover,
  a[href^="fax"]:link,
  a[href^="fax"]:visited,
  a[href^="fax"]:hover {
    text-decoration: underline;
    pointer-events: auto;
  }

  .popup_content {
    margin: 25px; // override inline CSS caused by JS
    width: auto !important;

    p {
      font-size: 13px;
    }

    .formtastic {
      input[type="submit"],
      input[type="email"] {
        font-size: 13px;
      }
    }
  }
}
