// ---------------------------------------------------------------
//
//  Breakpoint M
//
// ---------------------------------------------------------------

@include breakpoint(M) {

  @include mqindicator('M');

  // Header ######################################

  .Banner {
    min-height: 30px;
    line-height: 22px;
  }

  .Banner__text {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  .Banner__text,
  .Banner__link {
    font-size: 12px;
  }

  .Logo {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .Logo--start {
    margin-left: 0;
  }

  .Claim {
    display: block;
    float: none;
    clear: both;
    margin-top: 0;
    max-width: 100%;
  }

  .header-main {
    height: auto;
    margin-bottom: 0;

    .wrapper-inner {
      padding: 0;

      .template--pages-home & {
        padding: 0 20px;
      }
    }
  }

  .header-main--wide {
    height: 320px;
  }

  .Logo {
    position: absolute;
    top: 10px;
    z-index: 20;
    margin-top: 5px;
    margin-left: 15px;
    width: 91px;
    height: 20px;
    background-image: image-url('logo-c.svg');
    background-size: 90px 20px;
    background-repeat: no-repeat;
  }


  .Logo--start {
    position: relative;
    top: auto;
    margin-top: 25px;
    margin-left: 0;
    width: 180px;
    height: 40px;
    background-image: image-url('logo.svg');
    background-size: 180px 40px;
  }

  .Claim {
    margin-top: 90px;
  }

  .Distributor {
    margin-top: 0;
    padding-bottom: 5px;
    height: auto;
  }

  .Distributor--start {
    position: static;
    padding-bottom: 0;
  }

  .Distributor--navigation {
    padding-bottom: 0;
    max-height: 55px;
    max-width: 1000px;
    width: 100%;
    margin: 0;
    border-top-left-radius: 0;

    &.is-enlarged {
      max-height: 95px;
    }

    .JS-Geolocation__prompt {
      bottom: 35px;
      margin: 0 20% 0 0;
      padding: 5px;
      width: 80%;
    }

  }

  .Distributor__search-form {
    position: relative;
    right: auto;
    width: 100%;
  }

  .JS-Geolocation__remove {
    top: 5px;
    right: 10px;

    .Distributor--navigation & {
      top: 2px;
      right: 60px;
    }
  }

  .search-form--input-wrapper {
    position: relative;
  }

  #new_search_form {
    position: relative;
    z-index: 30;
    display: block;
    margin-left: 114px;
    padding: 10px 0;
    max-height: 85px;
    width: calc(100% - 114px);
    margin-right: 0;
    overflow: hidden;

    .Distributor.is-enlarged & {
      //margin-left: 15px;

      .tt-dropdown-menu {
        right: 1px; // override JS
      }
    }

    .template--pages-home & {
      max-height: none;

      #search_form_query,
      #search_form_search_location {
        width: inherit;
        max-width: none;
      }

      .input.string {
        padding-right: 0;

        &.search_form_search_location {
          display: block;
        }
      }
    }

    #search_form_query,
    #search_form_search_location {
      float: none;
      max-width: none;
    }

    #search_form_search_location {
      padding-left: 40px;
    }

    #search_form_query,
    #search_form_search_location {
      width: inherit;
    }

    #search_form_query {
      padding-left: 53px;
    }

    #search_form_query,
    #search_form_search_location,
    .main-search__submit {
      .template--pages-home & {
        height: 40px;
        line-height: 40px;
      }
    }

    .main-search__submit {
      .template--pages-home & {
        width: 100%;
        background-image: none;
        color: white;
        font: inherit;
        font-size: 20px;
      }
    }

    #search_form_query,
    #search_form_search_location {
      @include input-placeholder(rgba($brand_brown, .72), 400, 16px);
      height: 35px;
      font-size: 16px;
      line-height: 35px;
    }

    .main-search__submit {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 40px;
      height: 35px;
      background-size: 60%;

      &.is-enlarged {
        top: 10px;
        bottom: 0;
        height: auto;
      }

      .template--pages-home & {
        position: relative;
        top: 0;
        right: auto;
      }
    }

    .input {
      &.string {
        display: block;
        padding-right: 55px;
        width: 100%;

        .template--pages-home & {
          height: 40px;
          width: 100%;
        }

        &.search_form_search_location {
          display: none;
          margin-top: 5px;
          margin-bottom: 10px;

          &.is-visible {
            display: block;
          }
        }
      }
    }

    label {
      &.string {
        top: 0;
        left: 9px;
        font-size: 16px;
        line-height: 35px;

        .template--pages-home & {
          top: auto;
          bottom: 3px;
          left: 8px;
          max-height: 40px;
        }
      }
    }
  }

  .filter-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -5px;
  }

  .filter-form__fieldset {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;

    &#age {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }

    &#target_audience {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
    }

    &#exclusive_gender {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
    }

    &#contact_type {
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4;
    }
  }

  .Distributor__advanced-filter-trigger-wrapper {
    position: relative;
    background-color: $brand_brown;
    width: 100%;
    display: none;
    height: auto;
    text-align: center;

    .has-enlarged-header & {
      margin-top: 10px;
    }

    .template--offers-index {
      display: block;
    }

    a {
      color: $brand_white;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }

  .nav-sections__headline {
    margin-bottom: 20px;
  }


  .nav-sections__listitem {
    float: none;
    width: 100%;
    height: 60px;
    background-position: 100% top;
    background-size: contain;
    line-height: 57px; // closer to optical vertical middle

    a {
      padding: 0;
      text-align: left;
    }
  }

  // Content ######################################

  .page-wrap:after {
    height: 136px;
  }

  .template--offers-show, .template--previews-show_offer {

    .page-detail__title {
      padding-right: 50px;
    }

    .page-detail__icon {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
  }

  .aside-standard__container {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .content-main,
  .Categories {
    .template--offers-index & {
      float: none;
      width: 100%;
    }
  }

  .content-main {
    padding-top: 36px;

    .template--pages-home & {
      //padding-top: 0;
    }

    &.template--pages-about{
      //padding-top: 100px;
    }

    &.content-main--invalid_location {
      //padding-top: 80px;
    }

    body[class="template--pages-"] & {
      padding-top: 68px;
    }
  }

  .section-team__member {
    width: 49%;
    min-height: 670px;

    &:nth-of-type(4n+1) { // reset
      margin-left: 1.8%;
    }

    &:nth-of-type(3n+1) { // reset
      margin-left: 1.8%;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }

  .contact-form {
    margin-top: 22px;

    .string input,
    .email input,
    textarea,
    &.formtastic .inline-errors {
      width: 410px;
    }
  }

  // Footer ######################################

  .nav-site__listitem {
    font-size: 16px;
    line-height: 26px;
  }

  .mascot--footer {
    display: none;
  }

  .footer-main__subscribe,
  .footer-main__about {
    float: left;
    width: 100%;
  }

  .nav-site {
    float: none;
  }

  .nav-site__listitem {
    text-align: left;
  }

  // Misc ######################################

  .JS-Cookie-warning {
    font-size: 11px;
  }

  a[href^="tel"]:link,
  a[href^="tel"]:visited,
  a[href^="tel"]:hover,
  a[href^="fax"]:link,
  a[href^="fax"]:visited,
  a[href^="fax"]:hover {
    text-decoration: underline;
    pointer-events: auto;
  }

  .popup_content {
    margin: 25px; // override inline CSS caused by JS
    width: auto !important;

    p {
      font-size: 13px;
    }

    .formtastic {
      input[type="submit"],
      input[type="email"] {
        font-size: 13px;
      }
    }
  }

  a.big-map_open {
    display: none !important;
  }

  // ToDo: Refactor. Button must move to a new line on small screens in case it
  // would otherwise interfere with other content. If no new line is needed it
  // should flow right (if flow: right is used it is partly hidden).
  .more_remote-offers_open {
    position: relative !important;
  }

  .shariff-button.whatsapp {
    display: block !important;
  }
}
