// ---------------------------------------------------------------
//
//  Breakpoint S
//
// ---------------------------------------------------------------

@include breakpoint(S) {

  @include mqindicator('S');

  // Header ######################################

  .Banner__link {
    padding: 0 0 5px 0;
  }

  .Banner {
    .page-wrap & {
      position: relative;
      max-height: 10px;
      overflow: hidden;
    }
  }

  .Logo {
    position: absolute;
    bottom: 32px;
    z-index: 20;
    margin-top: 5px;
    margin-left: 15px;
    width: 91px;
    height: 20px;
    background-image: image-url('logo-c.svg');
    background-size: 90px 20px;
    background-repeat: no-repeat;
  }

  .Logo--start {
    position: relative;
    top: 14px;
    bottom: auto;
    margin-top: 25px;
    margin-left: 0;
    width: 180px;
    height: 40px;
    background-image: image-url('logo.svg');
    background-size: 180px 40px;
  }

  .Logo--notstart {
    bottom: auto;
    top: 0;
    z-index: 30;
    width: 95px;
    height: 38px;

    body.family &,
    body.refugees & {
      background-size: 95px 38px;
    }
  }

  .Claim {
    margin-top: 90px;
  }

  .header-main {
    position: relative;
    right: 0;
    left: 0;
    z-index: 130;
    background: transparent;
    min-height: 0;

    .template--pages-home & {
      position: static;
      top: auto;
      right: auto;
      left: auto;
      z-index: auto;
    }
  }

  .header-main__foreground {
    body.refugees &,
    body.family & {
      background-position: center calc(100% - 40px);
    }
  }

  .Distributor {
    margin-top: 0;
    padding-bottom: 5px;
    height: auto;
  }

  .Distributor--start {
    position: static;
    padding-bottom: 0;
  }

  .Distributor--navigation {
    padding-bottom: 0;
    width: 100%;

    &.is-enlarged {
      z-index: 20;
    }

    .JS-Geolocation__prompt {
      bottom: 35px;
      margin: 0 20% 0 0;
      padding: 5px;
      width: 80%;
    }

  }

  .Distributor__search-form {
    &.is-fixed {
      position: fixed;
      top: 0;
      border-bottom: 1px solid $brand_white;
    }
  }

  .JS-Geolocation__remove {
    top: 5px;
    right: 10px;

    .Distributor--navigation & {
      top: 2px;
      right: 60px;
    }
  }

  #new_search_form {
    position: relative;
    z-index: 30;
    display: block;
    padding: 10px 0 0 15px;
    min-height: 58px;
    max-height: 98px;
    width: auto;
    border-top: 3px solid transparent;

    body.family & {
      border-color: $brand_core_family;
    }

    body.refugees & {
      border-color: $brand_core_refugees;
    }


    .Distributor.is-enlarged & {

      .tt-dropdown-menu {
        right: 1px; // override JS
      }
    }

    .template--pages-home & {
      max-height: none;
      padding-top: 20px;
      border-top: none;

      .input.string {
        padding-right: 0;

        &.search_form_search_location {
          display: block;
        }
      }
    }

    #search_form_query,
    #search_form_search_location {
      @include input-placeholder(rgba($brand_brown, .72), 400, 16px);
      height: 35px;
      font-size: 16px;
      line-height: 35px;
      float: none;
      max-width: none;
      width: 100%;
    }

    #search_form_query,
    #search_form_search_location,
    .main-search__submit {
      .template--pages-home & {
        height: 40px;
        line-height: 40px;
      }
    }

    #search_form_search_location {
      padding-left: 40px;
    }

    #search_form_query {
      padding-left: 53px;
    }

    .main-search__submit {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 40px;
      height: 35px;
      background-size: 60%;

      &.is-enlarged {
        bottom: 10px;
        height: auto;
      }

      .template--pages-home & {
        position: relative;
        top: 0;
        right: auto;
      }
    }

    .input {
      &.string {
        display: block;
        padding-right: 55px;
        width: 100%;

        .template--pages-home & {
          height: 40px;
        }

        &.search_form_search_location {
          display: none;
          margin-top: 5px;
          margin-bottom: 10px;

          &.is-visible {
            display: block;
          }
        }
      }
    }

    label {
      &.string {
        top: 0;
        left: 9px;
        font-size: 16px;
        line-height: 35px;

        .template--pages-home & {
          top: auto;
          bottom: 3px;
          left: 8px;
          max-height: 40px;
        }
      }
    }
  }

  .nav-welt--start {
    left: 0;
  }

  .nav-welt--notstart {
    float: right;
    height: 31px;
    margin-top: 21px;
    margin-right: 7px;

    li {
      a:before {
        display: none;
      }
    }

    a {
      font-family: "roboto-bold", Roboto, sans-serif;
    }
  }

  .nav-welt__listitem {
    min-width: 0;

    .template--pages-home & {
      width: 50%;
    }

    .template--pages-home &:first-child a {
      border-radius: 0;
    }

    a {
      font-size: 15px;
      padding: 0 12px;
    }
  }

  .nav-welt__listitem--start {
    a {
      height: 38px;
    }
  }

  .search-form--input-wrapper {
    left: 0;
    z-index: 12;
  }

  .nav-sections {
    margin: 0;
  }

  .nav-sections__headline {
    margin-bottom: 10px;
    text-align: left;
  }

  .nav-sections__listitem {
    height: 50px;
    line-height: 45px; // closer to optical vertical middle
  }

  span.tt-dropdown-menu {
    // specificity, overriding JS
    right: 0 !important; // overriding JS
  }

  // Content ######################################

  .wrapper-inner {
    padding: 0 15px;
  }

  .main-search__advanced-filter--within-content-main {
    margin: 0 -15px;
  }

  .content-main {

    .template--pages-home & {
      padding-top: 0;
    }

    &.template--pages-about {
      padding-top: 100px;
    }

    &.content-main--invalid_location {
      padding-top: 80px;
    }

    body[class="template--pages-"] & {
      padding-top: 68px;
    }
  }

  .Listing-results__organization {
    padding-right: 0;
  }

  .section-start__headline {
    height: 35px;
    font-size: 16px;
    line-height: 37px;
  }

  .section-start__body {
    font-size: 14px;
  }

  .section-team__member {
    width: 100%;
    margin-left: 0;

    &:nth-of-type(4n+1) {
      margin-left: 0;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }

  }

  .Listing-categories__item {
    @extend %clearfix;

    a {
      margin: 0 4px 4px 0;
      padding: 0 8px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .Categories {
    display: none;
  }

  .Listing-results__headline {
    font-size: 16px;
  }

  .Listing-results__listitem {
    margin-bottom: 15px;
  }

  .template--pages-faq,
  .template--offers-show,
  .template--organizations-show,
  .template--previews-show_offer,
  .template--previews-show_organization {
    .content-main.content-main--wide {
      padding: 105px 0 0;
    }
  }

  .page,
  .first,
  .last,
  .next,
  .prev {
    margin-bottom: 5px;
  }

  .contact-form {
    margin-top: 22px;

    .string input,
    .email input,
    textarea,
    &.formtastic .inline-errors {
      width: 100%;
    }
  }

  // Twitter Typeahead ###########################

  .template--pages-home {
    #new_search_form {
      .input.string {
        min-height: 40px;
        height: auto !important;

        &.search_form_search_location {
          margin: 10px 0;
        }
      }
    }

  }

  // Filter offer#index ######################################

  .filter-form {
    padding: 12px 15px 5px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 30px;

    .input {
      padding: 0;
    }

    .col-form-inner {
      width: 100%;
    }
  }

  .filter-form__headline {
    display: none;
  }

  .filter-form__fieldset {
    padding: 0;
    flex: 1 0 100%;
  }

  .filter-form__fieldset__headline {
    width: 100%;
    color: $brand_brown;
    cursor: pointer;
    background: image-url('ico_fieldset_expand.svg') no-repeat right center;
    background-size: 6px 8px;

    &.is-active {
      background: image-url('ico_fieldset_collapse.svg') no-repeat right center;
      background-size: 6px 8px;
    }
  }

  .filter-form__fieldset__wrapper {
    display: none;
    margin-bottom: 20px;
  }

  .filter-form__headline {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .filter-form__expander {
    display: none;
  }

  [type="submit"].filter-form__submit,
  .filter-form__submit {
    width: 100%;
  }

  // Footer ######################################

  .nav-legal {
    margin: 20px 0;
  }

  .nav-legal__listitem {
    float: none;
    margin-left: 0;
    line-height: 22px;

    &:before {
      content: '';
    }
  }

  // Misc ######################################

  .popup_content {
    width: 80% !important; // override inline JS

    .formtastic {
      #update_request_email {
        margin: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
      }

      input[type="submit"] {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
      }

      p.inline-errors {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0;
        width: 100%;
        text-align: center;
      }

      li.input.error {
        padding-bottom: 0;
      }
    }
  }

  #unavailable_location_overlay {
    .formtastic {
      #update_request_email {
        max-width: 100%;
      }
    }
  }

  .Banner {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 300;
  }

  // Styling for JS-generated button
  .jump-to-categories {
    position: absolute;
    top: 52px;
    right: 0;
    left: auto;
    z-index: 120;
    display: block;
    margin: 0;
    padding: 3px 15px;
    width: 40%;
    height: 30px;
    color: $brand_white;
    text-align: right;
    text-decoration: none;
    line-height: 28px;
  }

  // Creating offset for internal anchor jump
  #categories:before {
    display: block;
    margin-top: -68px;
    height: 68px;
    content: "";

    .template--offers-index & {
      display: none;
    }
  }

}
