// ---------------------------------------------------------------
//
//  Breakpoint XL
//
// ---------------------------------------------------------------

@include breakpoint(XL) {

  @include mqindicator('XL');

  // Header ######################################

  .Logo {
    margin-left: 20px;
  }

  .header-main {
    &:before {
      display: none; // hiding visual yellow enlargement necessary in 1200px and bigger
    }
  }

  .Claim {
    max-width: 40%;
  }

  .Claim__secondrow {
    margin-left: 20px;
  }

  .mascot--header {
    bottom: 0;
    left: 245px;
  }

  .Distributor {
    margin-right: -20px; // on non-start pages, correcting offset by .wrapper-inner
    max-width: none;
    // width: auto;
    width: 71%;
    position: relative;

    html[dir="rtl"] & {
      margin-left: -20px;
      margin-right: 0;
    }
  }

  .Distributor--start {
    margin-right: 0;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
  }

  .Distributor__search-form {
    //position: absolute;
    //left: 0;
    //right: 120px;

    .template--pages-home & {
      position: relative;
    }

    html[dir="rtl"] & {
      left: 120px;
      right: 0;
    }
  }

  .Distributor__advanced-filter-trigger-wrapper {
    position: absolute;
    right: 0;

    html[dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }

  #new_search_form .input.string {
//    width: 50%;
  }

  .filter-form {
    margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px);
  }

  .filter-form__reset-btn {
    margin-left: 0;
    flex: 0 1 100px;
    font-size: 12px;
    padding: 0 10px;
  }

  .filter-form__fieldset {
    padding-right: 0;
  }

  .filter-form__fieldset__headline {
    padding-right: 5px;
    font-size: 12px;
  }

  #search_form_query,
  #search_form_search_location {
    max-width: none;
    margin: 0;
    width: calc(100% - 10px);
  }

  #new_search_form .main-search__submit {

    bhtml[dir="rtl"] & {
      left: 0;
      right: auto;
      margin-left: 0;
    }
  }

  .search-form--input-wrapper {
    //position: absolute;
    //right: 95px;
    //left: 25px;
    //
    //body.ar & {
    //  right: 25px;
    //  left: 75px;
    //}

    .template--pages-home & {
      position: relative;
      left: auto;
      right: auto;
    }
  }

  #new_search_form {
    height: 76px;
  }

  .nav-lang__title {
    margin-left: 10px;
  }

  .nav-lang {
    right: 10px;
  }

  .nav-main {
    right: 25px;
  }

  .Hero__pitch {
    left: 25px;

    [dir="rtl"] & {
      left: auto;
      right: 25px;
    }
  }

  // Content ######################################

  .top-bar__container,
  .wrapper-inner {
    padding: 0 20px;
  }

  .wrapper-inner {
    body:not(.template--pages-home) .header-main & {
      padding: 0;
    }
  }

  .Callout {
    padding: 0 15px;
  }


  .section-start__headline {
    font-size: 20px;
  }

  .section-start__body {
    min-height: 370px;
  }

  .Listing-results__headline--remote {
    padding-right: 35%;

    body.pl &,
    body.fr & {
      padding-right: 45%;
    }

    body.ru & {
      padding-right: 55%;
    }

    html[dir="rtl"] & {
      padding-left: 45%;
    }
  }

  // Misc ########################################

  #qtip-ttWeltFamily {
    left: 0 !important; // override JS
  }
}
