// ---------------------------------------------------------------
//
//  Breakpoint XL
//
// ---------------------------------------------------------------

@include breakpoint(XL) {

  @include mqindicator('XL');

  // Header ######################################

  .header-main {
    &:before {
      display: none; // hiding visual yellow enlargement necessary in 1200px and bigger
    }
  }

  .Claim {
    max-width: 40%;
  }

  .mascot--header {
    bottom: 0;
    left: 245px;
  }

  .Distributor {
    margin-right: -20px; // on non-start pages, correcting offset by .wrapper-inner
    max-width: none;
    // width: auto;
    width: 71%;
    position: relative;

    body.ar & {
      margin-left: -20px;
      margin-right: 0;
    }
  }

  .Distributor--start {
    margin-right: 0;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
  }

  .Distributor__search-form {
    position: absolute;
    left: 0;
    right: 120px;

    .template--pages-home & {
      position: relative;
    }

    body.ar & {
      left: 120px;
      right: 0;
    }
  }

  .Distributor__advanced-filter-trigger-wrapper {
    position: absolute;
    right: 0;

    body.ar & {
      left: 0;
      right: auto;
    }
  }

  #new_search_form .input.string {
    width: 50%;

    .template--pages-home & {
      width: auto;
      margin-right: 10px;
    }
  }

  #search_form_query,
  #search_form_search_location {
    max-width: none;
    margin: 0;
    width: calc(100% - 10px);
  }

  #new_search_form .main-search__submit {
    position: absolute;
    right: 0;

    body.ar & {
      left: 0;
      right: auto;
      margin-left: 0;
    }
  }

  .search-form--input-wrapper {
    position: absolute;
    right: 75px;
    left: 25px;

    body.ar & {
      right: 25px;
      left: 75px;
    }

    .template--pages-home & {
      position: relative;
      left: auto;
      right: auto;
    }
  }

  #new_search_form {
    display: table-cell;
    margin-right: 15px;
    width: auto;

    .template--pages-home & {
      margin-right: auto;
      max-width: 815px;
    }
  }

  .nav-lang__title {
    margin-left: 10px;
  }

  .nav-sections__listitem {
    body.refugees & {
      margin: 0 1.6%;
    }
  }

  .nav-sections {
    body.refugees & {
      width: 948px;
    }
  }

  // Content ######################################

  .wrapper-inner {
    padding: 0 20px;
  }

  .section-choice {
    width: 90vw;
  }

  .section-choice__headline {
    background-size: auto 90%;
  }

  .section-choice__family,
  .section-choice__refugees {
    width: inherit;
  }

  .section-choice__stage {
    background-size: auto 100%;
  }

  .section-choice__container {
    width: 45vw;
  }

  .section-choice__cta {
    width: 90%;
    height: 65px;
    margin: 0 5%;
    background-size: 18px 32px;
    padding-left: 45px;
    font-size: inherit;
  }

  .section-start__headline {
    font-size: 20px;
  }

  .section-start__body {
    min-height: 370px;
  }

  .Listing-results__headline--remote {
    padding-right: 35%;

    body.pl &,
    body.fr & {
      padding-right: 45%;
    }

    body.ru & {
      padding-right: 55%;
    }

    body.ar & {
      padding-left: 45%;
    }
  }

  // Misc ########################################

  #qtip-ttWeltFamily {
    left: 0 !important; // override JS
  }
}
