@include breakpoint(XS) {

  @include mqindicator('XS');

  .Mission__stage {
    background-size: contain;
    background-position: -55% center;
  }

  .Mission__headline {
    line-height: 24px;
  }

  .Mission__text {
    line-height: 16px;
  }
}
